<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.BaseDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.BaseDictionary" >
    <constructor >
      <idArg column="uuid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, category_code, category, item_code, item, create_by, create_time, update_by, 
    update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_dictionary
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_dictionary
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.BaseDictionary" >
    insert into base_dictionary (uuid, category_code, category, 
      item_code, item, create_by, 
      create_time, update_by, update_time, 
      status)
    values (#{uuid,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.BaseDictionary" >
    insert into base_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="item != null" >
        item,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.BaseDictionary" >
    update base_dictionary
    <set >
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.BaseDictionary" >
    update base_dictionary
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>

  <select id="selectDictionary" parameterType="map" resultMap="BaseResultMap">
    select * from base_dictionary t
    <if test="categoryCode != null" >
      where t.category_code = #{categoryCode,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="provinceList" resultType="com.zhcx.netcar.pojo.base.BaseProvince">
    select * from base_province t
  </select>

  <select id="cityList" parameterType="java.lang.String" resultType="com.zhcx.netcar.pojo.base.BaseCity">
    select * from base_city t
    where t.province = #{parent,jdbcType=VARCHAR}
  </select>

  <select id="districtList" parameterType="java.lang.String" resultType="com.zhcx.netcar.pojo.base.BaseDistrict">
    select t.*, t.dis_name label from base_district t
    where t.city_id = #{parent,jdbcType=VARCHAR}
  </select>
  
  <select id="getCityId" parameterType="java.lang.String" resultType="java.lang.Long">
    select t.uuid from base_city t
    where t.city_name = #{cityName,jdbcType=VARCHAR}
  </select>
</mapper>