<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.BaseDistrictMapper" >
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.BaseDistrict" >
    <constructor >
      <idArg column="uuid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="dis_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="dis_sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="corp_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, dis_name, city_id, dis_sort, corp_id, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_district
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_district
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.BaseDistrict" >
    insert into base_district (uuid, dis_name, city_id, 
      dis_sort, corp_id, create_by, 
      create_time, update_by, update_time
      )
    values (#{uuid,jdbcType=BIGINT}, #{disName,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT}, 
      #{disSort,jdbcType=INTEGER}, #{corpId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.BaseDistrict" >
    insert into base_district
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="disName != null" >
        dis_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="disSort != null" >
        dis_sort,
      </if>
      <if test="corpId != null" >
        corp_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="disName != null" >
        #{disName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="disSort != null" >
        #{disSort,jdbcType=INTEGER},
      </if>
      <if test="corpId != null" >
        #{corpId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.BaseDistrict" >
    update base_district
    <set >
      <if test="disName != null" >
        dis_name = #{disName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="disSort != null" >
        dis_sort = #{disSort,jdbcType=INTEGER},
      </if>
      <if test="corpId != null" >
        corp_id = #{corpId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.BaseDistrict" >
    update base_district
    set dis_name = #{disName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      dis_sort = #{disSort,jdbcType=INTEGER},
      corp_id = #{corpId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>

    <select id="selectArea" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from base_district
        where
            city_id = #{cityId,jdbcType=BIGINT}
    </select>

    <select id="getDistrictByAddress" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from base_district
        where
        corp_id = #{address,jdbcType=INTEGER}
    </select>


    <select id="selectListByCityId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from base_district
        where
        city_id = #{cityId,jdbcType=BIGINT}
    </select>

</mapper>