<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.statistical.KafkaNetcarPassengerComplaintMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.statistical.KafkaNetcarPassengerComplaint">
        <id column="ORDERID" jdbcType="VARCHAR" property="orderid"/>
        <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/>
        <result column="complaint_count" jdbcType="INTEGER" property="complaintCount"/>
        <result column="TIME" jdbcType="VARCHAR" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
    ORDERID, COMPANY_ID, complaint_count, TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kafka_netcar_passenger_complaint
        where ORDERID = #{orderid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kafka_netcar_passenger_complaint
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.statistical.KafkaNetcarPassengerComplaint">
    insert into kafka_netcar_passenger_complaint (ORDERID, COMPANY_ID, complaint_count, 
      TIME)
    values (#{orderid,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{complaintCount,jdbcType=INTEGER}, 
      #{time,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.statistical.KafkaNetcarPassengerComplaint">
        insert into kafka_netcar_passenger_complaint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                ORDERID,
            </if>
            <if test="companyId != null">
                COMPANY_ID,
            </if>
            <if test="complaintCount != null">
                complaint_count,
            </if>
            <if test="time != null">
                TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                #{orderid,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="complaintCount != null">
                #{complaintCount,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.zhcx.netcar.pojo.statistical.KafkaNetcarPassengerComplaint">
        update kafka_netcar_passenger_complaint
        <set>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="complaintCount != null">
                complaint_count = #{complaintCount,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                TIME = #{time,jdbcType=VARCHAR},
            </if>
        </set>
        where ORDERID = #{orderid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.statistical.KafkaNetcarPassengerComplaint">
    update kafka_netcar_passenger_complaint
    set COMPANY_ID = #{companyId,jdbcType=VARCHAR},
      complaint_count = #{complaintCount,jdbcType=INTEGER},
      TIME = #{time,jdbcType=VARCHAR}
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>
    <select id="selectByDateOnComplaint" resultMap="BaseResultMap">
        SELECT
        COMPANY_ID ,
        complaint_count ,
        <if test="dateType = year">
            TIME_FORMAT( UNIX_TIMESTAMP(TIME), 'yyyy-MM' ) AS TIME
        </if>
        <if test="dateType = month">
            TIME_FORMAT( UNIX_TIMESTAMP(TIME), 'yyyy-MM-dd' ) AS TIME
        </if>
        <if test="dateType = day">
            TIME_FORMAT( UNIX_TIMESTAMP(TIME), 'yyyy-MM-dd HH' ) AS TIME
        </if>
        FROM
        netcar_passenger_complaint
        <where>
            <if test="dateType = year">
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME) ,'yyyy') &gt;= #{SDate}
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME),'yyyy') &lt;= #{#{EDate}
            </if>
            <if test="dateType = month">
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME),'yyyy-MM') &gt;= #{SDate}
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME),'yyyy-MM') &lt;= #{#{EDate}
            </if>
            <if test="dateType = day">
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME),'yyyy-MM-dd') &gt;= #{SDate}
                and TIME_FORMAT(UNIX_TIMESTAMP(TIME),'yyyy-MM-dd') &lt;= #{#{EDate}
            </if>
            <if test="join != null and join != ''">
                and pay.company_id in (#{join})
            </if>
        </where>
    </select>
    <select id="getSUMorderDate" resultMap="BaseResultMap">
        SELECT
        sum( complaint_count ) as complaintCount
        FROM
        kafka_netcar_ratedPassengerComplaint
        <where>
            TIME_FORMAT(UNIX_TIMESTAMP(TIME), 'yyyy-MM-dd HH:mm' ) = #{SDate}
            <if test="join != null and join != ''">
                COMPANY_ID in(join)
            </if>
        </where>
    </select>
</mapper>