<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarBaseInfoCompanyStatMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyStat">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="vehicle_num" jdbcType="BIGINT" property="vehicleNum"/>
        <result column="driver_num" jdbcType="BIGINT" property="driverNum"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="reserved" jdbcType="VARCHAR" property="reserved"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, update_time, vehicle_num, driver_num, flag, reserved
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_stat
        where company_id = #{companyId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_base_info_company_stat
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyStat">
    insert into netcar_base_info_company_stat (company_id, update_time, vehicle_num,
      driver_num, flag, reserved
      )
    values (#{companyId,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{vehicleNum,jdbcType=BIGINT},
      #{driverNum,jdbcType=BIGINT}, #{flag,jdbcType=INTEGER}, #{reserved,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyStat">
        insert into netcar_base_info_company_stat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="vehicleNum != null">
                vehicle_num,
            </if>
            <if test="driverNum != null">
                driver_num,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="reserved != null">
                reserved,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNum != null">
                #{vehicleNum,jdbcType=BIGINT},
            </if>
            <if test="driverNum != null">
                #{driverNum,jdbcType=BIGINT},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                #{reserved,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyStat">
        update netcar_base_info_company_stat
        <set>
            <if test="vehicleNum != null">
                vehicle_num = #{vehicleNum,jdbcType=BIGINT},
            </if>
            <if test="driverNum != null">
                driver_num = #{driverNum,jdbcType=BIGINT},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                reserved = #{reserved,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyStat">
    update netcar_base_info_company_stat
    set vehicle_num = #{vehicleNum,jdbcType=BIGINT},
      driver_num = #{driverNum,jdbcType=BIGINT},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>


    <select id="selectCompanyId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_stat
        <where>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=VARCHAR}
            </if>
<!--            <if test="companyId == null">-->
<!--                and company_id in (select company_id from netcar_base_info_company_service where service_no in (select busiRegNumber from yunzheng_base_info_company))-->
<!--            </if>-->
        </where>
    </select>

    <select id="getCountByYear" resultType="Map">
        SELECT
        sum( state.vehicle_num ) VEHICLE_NUM,
        company.COMPANY_NAME AS COMPANY_NAME,
        company.COMPANY_ID AS COMPANY_ID,
        LEFT ( state.update_time, 7 ) AS moment
        FROM
        netcar_base_info_company_stat AS state
        INNER JOIN netcar_base_info_company AS company
        WHERE
        company.company_id = state.company_id
        AND state.flag = 1
        AND LEFT ( state.update_time, 4 ) = #{startTime}
        <if test="companyId !=null and companyId!=''">
            AND company.company_id=#{companyId}
        </if>
        <if test="corpId!=null and corpId!=''">
            AND company.company_id=#{corpId}
        </if>
        GROUP BY
        LEFT ( state.update_time, 6 ),
        company.company_name,company.company_id;
    </select>

    <select id="getCarSumByMonth" resultType="Map">
        SELECT
        state.COMPANY_ID,
        company.COMPANY_NAME,
        sum( VEHICLE_NUM ) AS VEHICLE_NUM,
        DATE_FORMAT( state.update_time, '%Y-%m-%d' ) moment
        FROM
        netcar_base_info_company_stat state
        INNER JOIN netcar_base_info_company company
        WHERE DATE_FORMAT( state.update_time, '%Y-%m' ) = left(#{startTime},7)
        <if test="corpId!=null and corpId!=''">
            AND state.company_id=#{corpId}
        </if>
        <if test="companyId!=null and companyId!=''">
            AND state.company_id=#{companyId}
        </if>
        AND state.company_id = company.company_id
        AND state.flag = 1
        GROUP BY
        state.company_id,
        DATE_FORMAT( state.update_time, '%Y-%m-%d')
    </select>
    <select id="getCarSumByYear" resultType="Map">
        SELECT
        state.COMPANY_ID,
        company.COMPANY_NAME,
        sum( VEHICLE_NUM ) AS VEHICLE_NUM,
        DATE_FORMAT( state.update_time, '%Y-%m' ) moment
        FROM
        netcar_base_info_company_stat state
        INNER JOIN netcar_base_info_company company
        WHERE DATE_FORMAT( state.update_time, '%Y' ) = left(#{startTime},4)
        <if test="corpId!=null and corpId!=''">
            AND state.company_id=#{corpId}
        </if>
        <if test="companyId!=null and companyId!=''">
            AND state.company_id=#{companyId}
        </if>
        AND state.company_id = company.company_id
        AND state.flag = 1
        GROUP BY
        state.company_id ,
        DATE_FORMAT( state.update_time, '%Y-%m')
    </select>
    <select id="getDriverSumByMonth" resultType="Map">
        SELECT
        state.COMPANY_ID,
        company.COMPANY_NAME,
        sum( driver_num ) AS DRIVER_NUM,
        DATE_FORMAT( state.update_time, '%Y-%m-%d' ) moment
        FROM
        netcar_base_info_company_stat state
        INNER JOIN netcar_base_info_company company
        WHERE DATE_FORMAT( state.update_time, '%Y-%m' ) = left(#{startTime},7)
        <if test="corpId!=null and corpId!=''">
            AND state.company_id=#{corpId}
        </if>
        <if test="companyId!=null and companyId!=''">
            AND state.company_id=#{companyId}
        </if>
        AND state.company_id = company.company_id
        AND state.flag = 1
        GROUP BY
        state.company_id,
        DATE_FORMAT( state.update_time, '%Y-%m-%d')
    </select>
    <select id="getDriverSumByYear" resultType="Map">
        SELECT
        state.COMPANY_ID,
        company.COMPANY_NAME,
        sum( driver_num ) AS DRIVER_NUM,
        DATE_FORMAT( state.update_time, '%Y-%m' ) moment
        FROM
        netcar_base_info_company_stat state
        INNER JOIN netcar_base_info_company company
        WHERE DATE_FORMAT( state.update_time, '%Y' ) = left(#{startTime},4)
        <if test="corpId!=null and corpId!=''">
            AND state.company_id=#{corpId}
        </if>
        <if test="companyId!=null and companyId!=''">
            AND state.company_id=#{companyId}
        </if>
        AND state.company_id = company.company_id
        AND state.flag = 1
        GROUP BY
        state.company_id,
        DATE_FORMAT( state.update_time, '%Y-%m')
    </select>


</mapper>