<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarPermitCompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.app.NetcarPermitCompanyInfo">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="handler_phone" jdbcType="VARCHAR" property="handlerPhone" />
    <result column="identifier" jdbcType="VARCHAR" property="identifier" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="contact_address" jdbcType="VARCHAR" property="contactAddress" />
    <result column="economic_type" jdbcType="VARCHAR" property="economicType" />
    <result column="reg_capital" jdbcType="VARCHAR" property="regCapital" />
    <result column="legal_name" jdbcType="VARCHAR" property="legalName" />
    <result column="legal_id" jdbcType="VARCHAR" property="legalId" />
    <result column="legal_phone" jdbcType="VARCHAR" property="legalPhone" />
    <result column="legal_photo" jdbcType="VARCHAR" property="legalPhoto" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="status" jdbcType="INTEGER" property="status" />
      <result column="manage_scope" jdbcType="VARCHAR" property="manageScope" />
      <result column="state" jdbcType="INTEGER" property="state" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="file_names" jdbcType="VARCHAR" property="fileNames" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, company_id, company_name, handler, handler_phone, identifier, address, business_scope, 
    contact_address, economic_type, reg_capital, legal_name, legal_id, legal_phone, legal_photo, 
    reason, flag, update_time, create_time, creator, status, manage_scope, state, domain, file_names
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_permit_company_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from netcar_permit_company_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitCompanyInfo">
    insert into netcar_permit_company_info (uuid, company_id, company_name, 
      handler, handler_phone, identifier, 
      address, business_scope, contact_address, 
      economic_type, reg_capital, legal_name, 
      legal_id, legal_phone, legal_photo, 
      reason, flag, update_time, 
      create_time, creator, status, manage_scope, state,
      domain, file_names)
    values (#{uuid,jdbcType=BIGINT}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{handler,jdbcType=VARCHAR}, #{handlerPhone,jdbcType=VARCHAR}, #{identifier,jdbcType=VARCHAR}, 
      #{address,jdbcType=INTEGER}, #{businessScope,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, 
      #{economicType,jdbcType=VARCHAR}, #{regCapital,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, 
      #{legalId,jdbcType=VARCHAR}, #{legalPhone,jdbcType=VARCHAR}, #{legalPhoto,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},  #{manage_scope,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
      #{domain,jdbcType=VARCHAR}, #{fileNames,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitCompanyInfo">
    insert into netcar_permit_company_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="handlerPhone != null">
        handler_phone,
      </if>
      <if test="identifier != null">
        identifier,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="businessScope != null">
        business_scope,
      </if>
      <if test="contactAddress != null">
        contact_address,
      </if>
      <if test="economicType != null">
        economic_type,
      </if>
      <if test="regCapital != null">
        reg_capital,
      </if>
      <if test="legalName != null">
        legal_name,
      </if>
      <if test="legalId != null">
        legal_id,
      </if>
      <if test="legalPhone != null">
        legal_phone,
      </if>
      <if test="legalPhoto != null">
        legal_photo,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="status != null">
        status,
      </if>
        <if test="manageScope != null">
            manage_scope,
        </if>
        <if test="state != null">
            state,
        </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="fileNames != null">
        file_names,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="handlerPhone != null">
        #{handlerPhone,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=INTEGER},
      </if>
      <if test="businessScope != null">
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null">
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="economicType != null">
        #{economicType,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null">
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalId != null">
        #{legalId,jdbcType=VARCHAR},
      </if>
      <if test="legalPhone != null">
        #{legalPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPhoto != null">
        #{legalPhoto,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
        <if test="manageScope != null">
            #{manageScope,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
            #{state,jdbcType=INTEGER},
        </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="fileNames != null">
        #{fileNames,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitCompanyInfo">
    update netcar_permit_company_info
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="handlerPhone != null">
        handler_phone = #{handlerPhone,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        identifier = #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="businessScope != null">
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null">
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="economicType != null">
        economic_type = #{economicType,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null">
        reg_capital = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        legal_name = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalId != null">
        legal_id = #{legalId,jdbcType=VARCHAR},
      </if>
      <if test="legalPhone != null">
        legal_phone = #{legalPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPhoto != null">
        legal_photo = #{legalPhoto,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
        <if test="manageScope != null">
            manage_scope = #{manageScope,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
            status = #{state,jdbcType=INTEGER},
        </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="fileNames != null">
        file_names = #{fileNames,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitCompanyInfo">
    update netcar_permit_company_info
    set company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      handler_phone = #{handlerPhone,jdbcType=VARCHAR},
      identifier = #{identifier,jdbcType=VARCHAR},
      address = #{address,jdbcType=INTEGER},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      economic_type = #{economicType,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=VARCHAR},
      legal_name = #{legalName,jdbcType=VARCHAR},
      legal_id = #{legalId,jdbcType=VARCHAR},
      legal_phone = #{legalPhone,jdbcType=VARCHAR},
      legal_photo = #{legalPhoto,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      manage_scope = #{manageScope,jdbcType=VARCHAR},
       state = #{state,jdbcType=INTEGER},
      domain = #{domain,jdbcType=VARCHAR},
      file_names = #{fileNames,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>

    <select id="selectPermitCompanyInfoList" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from netcar_permit_company_info
        <where>
            and status = 1
            <if test="corpId != null">
               and uuid = #{corpId}
            </if>
            <if test="flag != null">
                and flag = #{flag}
            </if>
            <if test="keyword != null">
                and (
                  company_name like concat('%',#{keyword},'%')
                  or
                  handler like concat('%',#{keyword},'%')
                  or
                  address like concat('%',#{keyword},'%')
                  or
                  handler_phone like concat('%',#{keyword},'%')
                )
            </if>
        </where>
    </select>
    
</mapper>