<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarOperateDepartMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarOperateDepart">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="license_id" jdbcType="VARCHAR" property="licenseId" />
    <result column="fare_type" jdbcType="VARCHAR" property="fareType" />
    <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
    <result column="dep_longitude" jdbcType="DOUBLE" property="depLongitude" />
    <result column="dep_latitude" jdbcType="DOUBLE" property="depLatitude" />
    <result column="encrypt" jdbcType="INTEGER" property="encrypt" />
    <result column="dep_time" jdbcType="VARCHAR" property="depTime" />
    <result column="wait_mile" jdbcType="DOUBLE" property="waitMile" />
    <result column="wait_time" jdbcType="INTEGER" property="waitTime" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, order_id, license_id, fare_type, vehicle_no, dep_longitude, dep_latitude, 
    encrypt, dep_time, wait_mile, wait_time, reserved
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_operate_depart
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_operate_depart
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateDepart">
    insert into netcar_operate_depart (company_id, order_id, license_id, 
      fare_type, vehicle_no, dep_longitude, 
      dep_latitude, encrypt, dep_time, 
      wait_mile, wait_time, reserved
      )
    values (#{companyId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{licenseId,jdbcType=VARCHAR}, 
      #{fareType,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, #{depLongitude,jdbcType=DOUBLE}, 
      #{depLatitude,jdbcType=DOUBLE}, #{encrypt,jdbcType=INTEGER}, #{depTime,jdbcType=VARCHAR}, 
      #{waitMile,jdbcType=DOUBLE}, #{waitTime,jdbcType=INTEGER}, #{reserved,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateDepart">
    insert into netcar_operate_depart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="fareType != null">
        fare_type,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
      <if test="depLongitude != null">
        dep_longitude,
      </if>
      <if test="depLatitude != null">
        dep_latitude,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="depTime != null">
        dep_time,
      </if>
      <if test="waitMile != null">
        wait_mile,
      </if>
      <if test="waitTime != null">
        wait_time,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null">
        #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null">
        #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null">
        #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="depTime != null">
        #{depTime,jdbcType=VARCHAR},
      </if>
      <if test="waitMile != null">
        #{waitMile,jdbcType=DOUBLE},
      </if>
      <if test="waitTime != null">
        #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateDepart">
    update netcar_operate_depart
    <set>
      <if test="licenseId != null">
        license_id = #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null">
        fare_type = #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null">
        dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null">
        dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="depTime != null">
        dep_time = #{depTime,jdbcType=VARCHAR},
      </if>
      <if test="waitMile != null">
        wait_mile = #{waitMile,jdbcType=DOUBLE},
      </if>
      <if test="waitTime != null">
        wait_time = #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="reserved != null">
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateDepart">
    update netcar_operate_depart
    set license_id = #{licenseId,jdbcType=VARCHAR},
      fare_type = #{fareType,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      dep_time = #{depTime,jdbcType=VARCHAR},
      wait_mile = #{waitMile,jdbcType=DOUBLE},
      wait_time = #{waitTime,jdbcType=INTEGER},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </update>

    <select id="queryOperateDepartListByCondition" parameterType="com.zhcx.netcar.params.OperateParam"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_operate_depart
        <where>
<!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="searchType == 'licenseId' and keyword != null">
                and license_id like concat(#{keyword},'%')
            </if>
            <if test="searchType == 'vehicleNo' and keyword != null">
                and vehicle_no like concat('%',#{keyword},'%')
            </if>
            <if test="searchType == 'orderId' and keyword != null">
                and order_id like concat(#{keyword},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and dep_time between date_format(#{startTime},'%Y%m%d%H%i%s')
                and date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
        </where>
    </select>

</mapper>