<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarBaseInfoDriverStatMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarBaseInfoDriverStat">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <id column="license_id" jdbcType="VARCHAR" property="licenseId" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="traffic_violation_count" jdbcType="INTEGER" property="trafficViolationCount" />
    <result column="complained_count" jdbcType="INTEGER" property="complainedCount" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, license_id, address, cycle, order_count, traffic_violation_count, complained_count, 
    flag, update_time, reserved
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_base_info_driver_stat
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_base_info_driver_stat
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoDriverStat">
    insert into netcar_base_info_driver_stat (company_id, license_id, address, 
      cycle, order_count, traffic_violation_count, 
      complained_count, flag, update_time, 
      reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{licenseId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{cycle,jdbcType=VARCHAR}, #{orderCount,jdbcType=INTEGER}, #{trafficViolationCount,jdbcType=INTEGER}, 
      #{complainedCount,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, 
      #{reserved,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoDriverStat">
    insert into netcar_base_info_driver_stat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="trafficViolationCount != null">
        traffic_violation_count,
      </if>
      <if test="complainedCount != null">
        complained_count,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="trafficViolationCount != null">
        #{trafficViolationCount,jdbcType=INTEGER},
      </if>
      <if test="complainedCount != null">
        #{complainedCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoDriverStat">
    update netcar_base_info_driver_stat
    <set>
      <if test="address != null">
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="trafficViolationCount != null">
        traffic_violation_count = #{trafficViolationCount,jdbcType=INTEGER},
      </if>
      <if test="complainedCount != null">
        complained_count = #{complainedCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoDriverStat">
    update netcar_base_info_driver_stat
    set address = #{address,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=VARCHAR},
      order_count = #{orderCount,jdbcType=INTEGER},
      traffic_violation_count = #{trafficViolationCount,jdbcType=INTEGER},
      complained_count = #{complainedCount,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
  </update>

    <select id="selectDriverStatList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_driver_stat
        <where>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="keyword != null">
                and license_id like CONCAT('%',#{keyword},'%')
            </if>
<!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
<!--            and license_id in (select cardno from yunzheng_base_info_driver)-->
        </where>
    </select>

    <select id="selectDriverStatByLicenseId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_driver_stat
        <where>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="licenseId != null">
                and license_id = #{licenseId}
            </if>
            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)
            and license_id in (select cardno from yunzheng_base_info_driver)
        </where>
    </select>
</mapper>