<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarAppTrafficAssessmentMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="ticket_no" jdbcType="VARCHAR" property="ticketNo" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tool" jdbcType="VARCHAR" property="tool" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
      <result column="branum" jdbcType="VARCHAR" property="branum" />
      <result column="check_time" jdbcType="VARCHAR" property="checkTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, ticket_no, content, location, item, remark, tool, creator, create_time, update_time, 
    status, branum, check_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_app_traffic_assessment
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from netcar_app_traffic_assessment
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
    insert into netcar_app_traffic_assessment (uuid, ticket_no, content, 
      location, item, remark, 
      tool, creator, create_time, 
      update_time, status, branum, check_time)
    values (#{uuid,jdbcType=BIGINT}, #{ticketNo,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{tool,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{branum,jdbcType=VARCHAR}, #{checkTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
    insert into netcar_app_traffic_assessment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="ticketNo != null">
        ticket_no,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tool != null">
        tool,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
        <if test="branum != null">
            branum,
        </if>
        <if test="checkTime != null">
            check_time,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="ticketNo != null">
        #{ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tool != null">
        #{tool,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>

        <if test="branum != null">
            #{branum,jdbcType=VARCHAR},
        </if>
        <if test="checkTime != null">
            #{checkTime,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
    update netcar_app_traffic_assessment
    <set>
      <if test="ticketNo != null">
        ticket_no = #{ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tool != null">
        tool = #{tool,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
        <if test="branum != null">
            branum = #{branum,jdbcType=VARCHAR},
        </if>
        <if test="checkTime != null">
            check_time = #{checkTime,jdbcType=VARCHAR},
        </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
    update netcar_app_traffic_assessment
    set ticket_no = #{ticketNo,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      tool = #{tool,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      branum = #{branum,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>

    <resultMap id="BaseResultMapExtend" extends="BaseResultMap" type="com.zhcx.netcar.pojo.app.NetcarAppTrafficAssessment">
        <result column="clitname" jdbcType="VARCHAR" property="clitname" />
    </resultMap>

    <select id="selectListByKeyword" parameterType="map" resultMap="BaseResultMapExtend">
        SELECT
        a.uuid, a.ticket_no, a.content, a.location, a.item, a.remark, a.tool, a.creator, a.create_time, a.update_time, a.STATUS, a.branum, a.check_time, b.clitname
        FROM
        netcar_app_traffic_assessment a
        JOIN (
            SELECT
            t1.company_name as clitname, t2.car_num as branum
            FROM
             t_base_info_company t1,
             t_base_info_vehiclelicence t2
            WHERE t1.company_id = t2.company_id
            <if test="keyword != null">
                AND t1.company_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="branum != null">
                AND t2.car_num LIKE CONCAT('%', #{branum}, '%')
            </if>
        ) b ON a.branum = b.branum
        where a.status = 1
        and a.branum LIKE CONCAT('%', #{branum}, '%')
    </select>

</mapper>