<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarOrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="address" jdbcType="INTEGER" property="address"/>
        <result column="depart_time" jdbcType="VARCHAR" property="departTime"/>
        <result column="order_time" jdbcType="VARCHAR" property="orderTime"/>
        <result column="departure" jdbcType="VARCHAR" property="departure"/>
        <result column="dep_longitude" jdbcType="DOUBLE" property="depLongitude"/>
        <result column="dep_latitude" jdbcType="DOUBLE" property="depLatitude"/>
        <result column="destination" jdbcType="VARCHAR" property="destination"/>
        <result column="dest_longitude" jdbcType="DOUBLE" property="destLongitude"/>
        <result column="dest_latitude" jdbcType="DOUBLE" property="destLatitude"/>
        <result column="encrypt" jdbcType="INTEGER" property="encrypt"/>
        <result column="fare_type" jdbcType="VARCHAR" property="fareType"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="license_id" jdbcType="VARCHAR" property="licenseId"/>
        <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone"/>
        <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo"/>
        <result column="distribute_time" jdbcType="VARCHAR" property="distributeTime"/>
        <result column="cancel_time" jdbcType="VARCHAR" property="cancelTime"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="cancel_type_code" jdbcType="VARCHAR" property="cancelTypeCode"/>
        <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason"/>
        <result column="passenger_note" jdbcType="VARCHAR" property="passengerNote"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, order_id, address, depart_time, order_time, departure, dep_longitude, 
    dep_latitude, destination, dest_longitude, dest_latitude, encrypt, fare_type, longitude, 
    latitude, license_id, driver_phone, vehicle_no, distribute_time, cancel_time, operator, 
    cancel_type_code, cancel_reason, passenger_note
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_order_info
        where company_id = #{companyId,jdbcType=VARCHAR}
        and order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_order_info
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
    insert into netcar_order_info (company_id, order_id, address, 
      depart_time, order_time, departure, 
      dep_longitude, dep_latitude, destination, 
      dest_longitude, dest_latitude, encrypt, 
      fare_type, longitude, latitude, 
      license_id, driver_phone, vehicle_no, 
      distribute_time, cancel_time, operator, 
      cancel_type_code, cancel_reason, passenger_note
      )
    values (#{companyId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{departTime,jdbcType=VARCHAR}, #{orderTime,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, 
      #{depLongitude,jdbcType=DOUBLE}, #{depLatitude,jdbcType=DOUBLE}, #{destination,jdbcType=VARCHAR}, 
      #{destLongitude,jdbcType=DOUBLE}, #{destLatitude,jdbcType=DOUBLE}, #{encrypt,jdbcType=INTEGER}, 
      #{fareType,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{licenseId,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, 
      #{distributeTime,jdbcType=VARCHAR}, #{cancelTime,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{cancelTypeCode,jdbcType=VARCHAR}, #{cancelReason,jdbcType=VARCHAR}, #{passengerNote,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
        insert into netcar_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="departTime != null">
                depart_time,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="departure != null">
                departure,
            </if>
            <if test="depLongitude != null">
                dep_longitude,
            </if>
            <if test="depLatitude != null">
                dep_latitude,
            </if>
            <if test="destination != null">
                destination,
            </if>
            <if test="destLongitude != null">
                dest_longitude,
            </if>
            <if test="destLatitude != null">
                dest_latitude,
            </if>
            <if test="encrypt != null">
                encrypt,
            </if>
            <if test="fareType != null">
                fare_type,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="licenseId != null">
                license_id,
            </if>
            <if test="driverPhone != null">
                driver_phone,
            </if>
            <if test="vehicleNo != null">
                vehicle_no,
            </if>
            <if test="distributeTime != null">
                distribute_time,
            </if>
            <if test="cancelTime != null">
                cancel_time,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="cancelTypeCode != null">
                cancel_type_code,
            </if>
            <if test="cancelReason != null">
                cancel_reason,
            </if>
            <if test="passengerNote != null">
                passenger_note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=INTEGER},
            </if>
            <if test="departTime != null">
                #{departTime,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=VARCHAR},
            </if>
            <if test="departure != null">
                #{departure,jdbcType=VARCHAR},
            </if>
            <if test="depLongitude != null">
                #{depLongitude,jdbcType=DOUBLE},
            </if>
            <if test="depLatitude != null">
                #{depLatitude,jdbcType=DOUBLE},
            </if>
            <if test="destination != null">
                #{destination,jdbcType=VARCHAR},
            </if>
            <if test="destLongitude != null">
                #{destLongitude,jdbcType=DOUBLE},
            </if>
            <if test="destLatitude != null">
                #{destLatitude,jdbcType=DOUBLE},
            </if>
            <if test="encrypt != null">
                #{encrypt,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="licenseId != null">
                #{licenseId,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNo != null">
                #{vehicleNo,jdbcType=VARCHAR},
            </if>
            <if test="distributeTime != null">
                #{distributeTime,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                #{cancelTime,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="cancelTypeCode != null">
                #{cancelTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cancelReason != null">
                #{cancelReason,jdbcType=VARCHAR},
            </if>
            <if test="passengerNote != null">
                #{passengerNote,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
        update netcar_order_info
        <set>
            <if test="address != null">
                address = #{address,jdbcType=INTEGER},
            </if>
            <if test="departTime != null">
                depart_time = #{departTime,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=VARCHAR},
            </if>
            <if test="departure != null">
                departure = #{departure,jdbcType=VARCHAR},
            </if>
            <if test="depLongitude != null">
                dep_longitude = #{depLongitude,jdbcType=DOUBLE},
            </if>
            <if test="depLatitude != null">
                dep_latitude = #{depLatitude,jdbcType=DOUBLE},
            </if>
            <if test="destination != null">
                destination = #{destination,jdbcType=VARCHAR},
            </if>
            <if test="destLongitude != null">
                dest_longitude = #{destLongitude,jdbcType=DOUBLE},
            </if>
            <if test="destLatitude != null">
                dest_latitude = #{destLatitude,jdbcType=DOUBLE},
            </if>
            <if test="encrypt != null">
                encrypt = #{encrypt,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                fare_type = #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="licenseId != null">
                license_id = #{licenseId,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                driver_phone = #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNo != null">
                vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
            </if>
            <if test="distributeTime != null">
                distribute_time = #{distributeTime,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="cancelTypeCode != null">
                cancel_type_code = #{cancelTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cancelReason != null">
                cancel_reason = #{cancelReason,jdbcType=VARCHAR},
            </if>
            <if test="passengerNote != null">
                passenger_note = #{passengerNote,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
        and order_id = #{orderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
    update netcar_order_info
    set address = #{address,jdbcType=INTEGER},
      depart_time = #{departTime,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      destination = #{destination,jdbcType=VARCHAR},
      dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      fare_type = #{fareType,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      license_id = #{licenseId,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      distribute_time = #{distributeTime,jdbcType=VARCHAR},
      cancel_time = #{cancelTime,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      cancel_type_code = #{cancelTypeCode,jdbcType=VARCHAR},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      passenger_note = #{passengerNote,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </update>

    <select id="queryOrderInfoList" parameterType="com.zhcx.netcar.params.OrderParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_order_info
        <where>
            company_id in (
            select
            company_id
            from
            netcar_base_info_company_service
            <!--            where service_no in (select busiRegNumber from yunzheng_base_info_company)-->
            )
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="keyword != null">
                and order_id LIKE concat('%',#{keyword},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and order_time between date_format(#{startTime},'%Y%m%d%H%i%s') and
                date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
            <if test="vehicleNo != null">
                and vehicle_no = #{vehicleNo}
            </if>
        </where>
    </select>

    <resultMap id="BookCarLevelMap" type="com.zhcx.netcar.pojo.base.BookCarLevel">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_time" jdbcType="VARCHAR" property="orderTime"/>
        <result column="dep_longitude" jdbcType="DOUBLE" property="depLongitude"/>
        <result column="dep_latitude" jdbcType="DOUBLE" property="depLatitude"/>
        <result column="distribute_time" jdbcType="VARCHAR" property="distributeTime"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
    </resultMap>
    <select id="queryBookCarLevelByOrderCreateAndMatch" parameterType="map" resultMap="BookCarLevelMap">
        select
        company_id, order_id, order_time, dep_longitude/1000000 as dep_longitude, dep_latitude/1000000 as dep_latitude,
        distribute_time,
        case
        when TIMESTAMPDIFF(SECOND,date_format(order_time,'%Y-%m-%d %H:%i:%s'),date_format(distribute_time,'%Y-%m-%d
        %H:%i:%s')) &lt;= 60 then '1'
        when
        TIMESTAMPDIFF(SECOND,date_format(order_time,'%Y-%m-%d %H:%i:%s'),date_format(distribute_time,'%Y-%m-%d
        %H:%i:%s')) &gt; 60 and
        TIMESTAMPDIFF(SECOND,date_format(order_time,'%Y-%m-%d %H:%i:%s'),date_format(distribute_time,'%Y-%m-%d
        %H:%i:%s')) &lt;= 180 then '2'
        when
        TIMESTAMPDIFF(SECOND,date_format(order_time,'%Y-%m-%d %H:%i:%s'),date_format(distribute_time,'%Y-%m-%d
        %H:%i:%s')) &gt; 180 and
        TIMESTAMPDIFF(SECOND,date_format(order_time,'%Y-%m-%d %H:%i:%s'),date_format(distribute_time,'%Y-%m-%d
        %H:%i:%s')) &lt;= 360 then '3'
        else '4'
        end level
        from netcar_order_info
        <where>
            <!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
            <!--            and vehicle_no in (select branum from yunzheng_base_info_vehicle)-->
            <if test="startTime != null and endTime != null">
                and distribute_time between date_format(#{startTime},'%Y%m%d%H%i%s') and
                date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
        </where>
    </select>

    <insert id="addOrUpdateOrderInfo" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderInfo">
        insert into netcar_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="departTime != null">
                depart_time,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="departure != null">
                departure,
            </if>
            <if test="depLongitude != null">
                dep_longitude,
            </if>
            <if test="depLatitude != null">
                dep_latitude,
            </if>
            <if test="destination != null">
                destination,
            </if>
            <if test="destLongitude != null">
                dest_longitude,
            </if>
            <if test="destLatitude != null">
                dest_latitude,
            </if>
            <if test="encrypt != null">
                encrypt,
            </if>
            <if test="fareType != null">
                fare_type,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="licenseId != null">
                license_id,
            </if>
            <if test="driverPhone != null">
                driver_phone,
            </if>
            <if test="vehicleNo != null">
                vehicle_no,
            </if>
            <if test="distributeTime != null">
                distribute_time,
            </if>
            <if test="cancelTime != null">
                cancel_time,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="cancelTypeCode != null">
                cancel_type_code,
            </if>
            <if test="cancelReason != null">
                cancel_reason,
            </if>
            <if test="passengerNote != null">
                passenger_note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=INTEGER},
            </if>
            <if test="departTime != null">
                #{departTime,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=VARCHAR},
            </if>
            <if test="departure != null">
                #{departure,jdbcType=VARCHAR},
            </if>
            <if test="depLongitude != null">
                #{depLongitude,jdbcType=DOUBLE},
            </if>
            <if test="depLatitude != null">
                #{depLatitude,jdbcType=DOUBLE},
            </if>
            <if test="destination != null">
                #{destination,jdbcType=VARCHAR},
            </if>
            <if test="destLongitude != null">
                #{destLongitude,jdbcType=DOUBLE},
            </if>
            <if test="destLatitude != null">
                #{destLatitude,jdbcType=DOUBLE},
            </if>
            <if test="encrypt != null">
                #{encrypt,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="licenseId != null">
                #{licenseId,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNo != null">
                #{vehicleNo,jdbcType=VARCHAR},
            </if>
            <if test="distributeTime != null">
                #{distributeTime,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                #{cancelTime,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="cancelTypeCode != null">
                #{cancelTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cancelReason != null">
                #{cancelReason,jdbcType=VARCHAR},
            </if>
            <if test="passengerNote != null">
                #{passengerNote,jdbcType=VARCHAR},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="address != null">
                address = #{address,jdbcType=INTEGER},
            </if>
            <if test="departTime != null">
                depart_time = #{departTime,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=VARCHAR},
            </if>
            <if test="departure != null">
                departure = #{departure,jdbcType=VARCHAR},
            </if>
            <if test="depLongitude != null">
                dep_longitude = #{depLongitude,jdbcType=DOUBLE},
            </if>
            <if test="depLatitude != null">
                dep_latitude = #{depLatitude,jdbcType=DOUBLE},
            </if>
            <if test="destination != null">
                destination = #{destination,jdbcType=VARCHAR},
            </if>
            <if test="destLongitude != null">
                dest_longitude = #{destLongitude,jdbcType=DOUBLE},
            </if>
            <if test="destLatitude != null">
                dest_latitude = #{destLatitude,jdbcType=DOUBLE},
            </if>
            <if test="encrypt != null">
                encrypt = #{encrypt,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                fare_type = #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="licenseId != null">
                license_id = #{licenseId,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                driver_phone = #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNo != null">
                vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
            </if>
            <if test="distributeTime != null">
                distribute_time = #{distributeTime,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="cancelTypeCode != null">
                cancel_type_code = #{cancelTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="cancelReason != null">
                cancel_reason = #{cancelReason,jdbcType=VARCHAR},
            </if>
            <if test="passengerNote != null">
                passenger_note = #{passengerNote,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>