<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarOrderMatchMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarOrderMatch">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="encrypt" jdbcType="INTEGER" property="encrypt" />
    <result column="license_id" jdbcType="VARCHAR" property="licenseId" />
    <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone" />
    <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
    <result column="distribute_time" jdbcType="VARCHAR" property="distributeTime" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, order_id, address, longitude, latitude, encrypt, license_id, driver_phone, 
    vehicle_no, distribute_time, reserved
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_order_match
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_order_match
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderMatch">
    insert into netcar_order_match (company_id, order_id, address, 
      longitude, latitude, encrypt, 
      license_id, driver_phone, vehicle_no, 
      distribute_time, reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{encrypt,jdbcType=INTEGER}, 
      #{licenseId,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, 
      #{distributeTime,jdbcType=VARCHAR}, #{reserved,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderMatch">
    insert into netcar_order_match
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="driverPhone != null">
        driver_phone,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
      <if test="distributeTime != null">
        distribute_time,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null">
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="distributeTime != null">
        #{distributeTime,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderMatch">
    update netcar_order_match
    <set>
      <if test="address != null">
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="licenseId != null">
        license_id = #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null">
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="distributeTime != null">
        distribute_time = #{distributeTime,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarOrderMatch">
    update netcar_order_match
    set address = #{address,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      license_id = #{licenseId,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      distribute_time = #{distributeTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
  </update>



    <!--订单成功-->
    <select id="queryOrderMatchListByCondition" parameterType="com.zhcx.netcar.params.OrderParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_order_match
        <where>
<!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="searchType == 'orderId' and keyword != null">
                and order_id like concat(#{keyword},'%')
            </if>
            <if test="searchType == 'vehicleNo' and keyword != null">
                and vehicle_no like concat(#{keyword},'%')
            </if>
            <if test="searchType == 'licenseId' and keyword != null">
                and license_id like concat(#{keyword},'%')
            </if>
            <if test="searchType == 'driverPhone' and keyword != null">
                and driver_phone like concat(#{keyword},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and distribute_time between date_format(#{startTime},'%Y%m%d%H%i%s') and date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
        </where>
    </select>
</mapper>