<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarBaseInfoCompanyServiceMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyService">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <id column="address" jdbcType="INTEGER" property="address"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="service_no" jdbcType="VARCHAR" property="serviceNo"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="responsible_name" jdbcType="VARCHAR" property="responsibleName"/>
        <result column="responsible_phone" jdbcType="VARCHAR" property="responsiblePhone"/>
        <result column="manager_name" jdbcType="VARCHAR" property="managerName"/>
        <result column="manager_phone" jdbcType="VARCHAR" property="managerPhone"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="mail_address" jdbcType="VARCHAR" property="mailAddress"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="reserved" jdbcType="VARCHAR" property="reserved"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, address, update_time, service_name, service_no, detail_address, responsible_name,
    responsible_phone, manager_name, manager_phone, contact_phone, mail_address, create_date,
    state, flag, reserved
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_service
        where company_id = #{companyId,jdbcType=VARCHAR}
        and address = #{address,jdbcType=INTEGER}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_base_info_company_service
    where company_id = #{companyId,jdbcType=VARCHAR}
      and address = #{address,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyService">
    insert into netcar_base_info_company_service (company_id, address, update_time,
      service_name, service_no, detail_address,
      responsible_name, responsible_phone, manager_name,
      manager_phone, contact_phone, mail_address,
      create_date, state, flag,
      reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR},
      #{serviceName,jdbcType=VARCHAR}, #{serviceNo,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR},
      #{responsibleName,jdbcType=VARCHAR}, #{responsiblePhone,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR},
      #{managerPhone,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{mailAddress,jdbcType=VARCHAR},
      #{createDate,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER},
      #{reserved,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyService">
        insert into netcar_base_info_company_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="serviceName != null">
                service_name,
            </if>
            <if test="serviceNo != null">
                service_no,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="responsibleName != null">
                responsible_name,
            </if>
            <if test="responsiblePhone != null">
                responsible_phone,
            </if>
            <if test="managerName != null">
                manager_name,
            </if>
            <if test="managerPhone != null">
                manager_phone,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="mailAddress != null">
                mail_address,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="reserved != null">
                reserved,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="serviceNo != null">
                #{serviceNo,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="responsibleName != null">
                #{responsibleName,jdbcType=VARCHAR},
            </if>
            <if test="responsiblePhone != null">
                #{responsiblePhone,jdbcType=VARCHAR},
            </if>
            <if test="managerName != null">
                #{managerName,jdbcType=VARCHAR},
            </if>
            <if test="managerPhone != null">
                #{managerPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="mailAddress != null">
                #{mailAddress,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                #{reserved,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyService">
        update netcar_base_info_company_service
        <set>
            <if test="serviceName != null">
                service_name = #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="serviceNo != null">
                service_no = #{serviceNo,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="responsibleName != null">
                responsible_name = #{responsibleName,jdbcType=VARCHAR},
            </if>
            <if test="responsiblePhone != null">
                responsible_phone = #{responsiblePhone,jdbcType=VARCHAR},
            </if>
            <if test="managerName != null">
                manager_name = #{managerName,jdbcType=VARCHAR},
            </if>
            <if test="managerPhone != null">
                manager_phone = #{managerPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="mailAddress != null">
                mail_address = #{mailAddress,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                reserved = #{reserved,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
        and address = #{address,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyService">
    update netcar_base_info_company_service
    set service_name = #{serviceName,jdbcType=VARCHAR},
      service_no = #{serviceNo,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      responsible_name = #{responsibleName,jdbcType=VARCHAR},
      responsible_phone = #{responsiblePhone,jdbcType=VARCHAR},
      manager_name = #{managerName,jdbcType=VARCHAR},
      manager_phone = #{managerPhone,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      mail_address = #{mailAddress,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and address = #{address,jdbcType=INTEGER}
  </update>


    <select id="selectListByCompanyId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_service
        <where>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <select id="selectCountByCompanyId" resultType="long" parameterType="map">
        select count(1)
        from netcar_base_info_company_service
        <where>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
        </where>
    </select>

    <select id="selectCountByDistrictId" resultType="long" parameterType="map">
        select count(1)
        from netcar_base_info_company_service
        <where>
            <if test="districtId != null">
                and address = #{districtId}
            </if>
        </where>
    </select>

    <select id="selectCompanyNameInYunzhengByCompanyId" parameterType="map"
            resultType="com.zhcx.netcar.vo.CompanyNameVo">
        select
        company_id as companyId,
        service_name as companyName,
        address
        from netcar_base_info_company_service
        <where>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=VARCHAR}
            </if>
            <if test="keyword != null">
                and service_name LIKE concat('%',#{keyWord},'%')
            </if>
            <!--            and service_no in (select busiRegNumber from yunzheng_base_info_company)-->
        </where>

    </select>

    <select id="selectCompanyServiceNameByCompanyId" parameterType="map" resultType="com.zhcx.netcar.vo.CompanyNameVo">
        select
        company_id,
        service_name as company_name,
        address
        from netcar_base_info_company_service
        <where>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=VARCHAR}
            </if>
            <if test="keyword != null">
                and service_name LIKE concat('%',#{keyWord},'%')
            </if>
        </where>

    </select>


    <select id="selectCompanyNameByCompanyIdAndAddress" parameterType="map" resultType="java.lang.String">
        select service_name
        from netcar_base_info_company_service
        where company_id = #{companyId}
        <if test="address != null">
            and address like concat(#{address},'%')
        </if>
        ORDER BY
        create_date ASC
        LIMIT 1
    </select>


    <select id="selectOneByCompanyId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_service
        where company_id = #{companyId}
        ORDER BY
        create_date ASC
        LIMIT 1
    </select>

    <select id="queryCompanyListByIds" parameterType="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_service
        <where>
            <!--        service_no in (select identifier from t_base_info_company where-->
            <!--                                                            source =4 and -->
            <!--                                                            corp_type = 4)-->
            <if test="corpIds != null and corpIds.size > 0">
                and company_id in
                <foreach collection="corpIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectIllegalListByCompanyId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_service t1
        <where>
            t1.service_no not in (
            select identifier from t_base_info_company t2
            where
            t2.source = 4
            and t2.corp_type = 4
            )
            <if test="companyId != null">
                and t1.company_id = #{companyId,jdbcType=INTEGER}
            </if>

        </where>
    </select>

</mapper>