<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarRatedPassengerMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarRatedPassenger">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <id column="evaluate_time" jdbcType="VARCHAR" property="evaluateTime"/>
        <result column="service_score" jdbcType="DOUBLE" property="serviceScore"/>
        <result column="driver_score" jdbcType="DOUBLE" property="driverScore"/>
        <result column="vehicle_score" jdbcType="DOUBLE" property="vehicleScore"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="reserved" jdbcType="VARCHAR" property="reserved"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, order_id, evaluate_time, service_score, driver_score, vehicle_score,
    detail, reserved
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_rated_passenger
        where company_id = #{companyId,jdbcType=VARCHAR}
        and order_id = #{orderId,jdbcType=VARCHAR}
        and evaluate_time = #{evaluateTime,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_rated_passenger
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and evaluate_time = #{evaluateTime,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedPassenger">
    insert into netcar_rated_passenger (company_id, order_id, evaluate_time,
      service_score, driver_score, vehicle_score,
      detail, reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{evaluateTime,jdbcType=VARCHAR},
      #{serviceScore,jdbcType=DOUBLE}, #{driverScore,jdbcType=DOUBLE}, #{vehicleScore,jdbcType=DOUBLE},
      #{detail,jdbcType=VARCHAR}, #{reserved,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedPassenger">
        insert into netcar_rated_passenger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="evaluateTime != null">
                evaluate_time,
            </if>
            <if test="serviceScore != null">
                service_score,
            </if>
            <if test="driverScore != null">
                driver_score,
            </if>
            <if test="vehicleScore != null">
                vehicle_score,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="reserved != null">
                reserved,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="evaluateTime != null">
                #{evaluateTime,jdbcType=VARCHAR},
            </if>
            <if test="serviceScore != null">
                #{serviceScore,jdbcType=DOUBLE},
            </if>
            <if test="driverScore != null">
                #{driverScore,jdbcType=DOUBLE},
            </if>
            <if test="vehicleScore != null">
                #{vehicleScore,jdbcType=DOUBLE},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="reserved != null">
                #{reserved,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedPassenger">
        update netcar_rated_passenger
        <set>
            <if test="serviceScore != null">
                service_score = #{serviceScore,jdbcType=DOUBLE},
            </if>
            <if test="driverScore != null">
                driver_score = #{driverScore,jdbcType=DOUBLE},
            </if>
            <if test="vehicleScore != null">
                vehicle_score = #{vehicleScore,jdbcType=DOUBLE},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="reserved != null">
                reserved = #{reserved,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
        and order_id = #{orderId,jdbcType=VARCHAR}
        and evaluate_time = #{evaluateTime,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedPassenger">
    update netcar_rated_passenger
    set service_score = #{serviceScore,jdbcType=DOUBLE},
      driver_score = #{driverScore,jdbcType=DOUBLE},
      vehicle_score = #{vehicleScore,jdbcType=DOUBLE},
      detail = #{detail,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and evaluate_time = #{evaluateTime,jdbcType=VARCHAR}
  </update>


    <select id="selectPassengerRatedListByCondition" resultMap="BaseResultMap"
            parameterType="com.zhcx.netcar.params.QueryParam">
        select
        <include refid="Base_Column_List"/>
        from netcar_rated_passenger
        <where>
            <!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
            <if test="companyId != null and companyId != ''">
                and company_id = #{companyId}
            </if>
            <if test="keyword != null">
                and order_id like concat('%',#{keyword},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and evaluate_time between date_format(#{startTime},'%Y%m%d%H%i%s')
                and date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
        </where>
    </select>

    <select id="queryPassengerRatedVehicleNo" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        netcar_rated_passenger
        WHERE
        order_id IN ( SELECT order_id FROM netcar_operate_pay WHERE vehicle_no = #{vehicleNo} )
    </select>
</mapper>