<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarBaseInfoCompanyFareMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyFare">
        <id column="company_id" jdbcType="VARCHAR" property="companyId" />
        <id column="address" jdbcType="INTEGER" property="address" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="fare_type" jdbcType="VARCHAR" property="fareType" />
        <result column="fare_type_note" jdbcType="VARCHAR" property="fareTypeNote" />
        <result column="fare_valid_on" jdbcType="VARCHAR" property="fareValidOn" />
        <result column="fare_valid_off" jdbcType="VARCHAR" property="fareValidOff" />
        <result column="start_fare" jdbcType="DOUBLE" property="startFare" />
        <result column="start_mile" jdbcType="DOUBLE" property="startMile" />
        <result column="unit_price_per_mile" jdbcType="DOUBLE" property="unitPricePerMile" />
        <result column="unit_price_per_minute" jdbcType="DOUBLE" property="unitPricePerMinute" />
        <result column="up_price" jdbcType="DOUBLE" property="upPrice" />
        <result column="up_price_start_mile" jdbcType="DOUBLE" property="upPriceStartMile" />
        <result column="morning_peak_time_on" jdbcType="VARCHAR" property="morningPeakTimeOn" />
        <result column="morning_peak_time_off" jdbcType="VARCHAR" property="morningPeakTimeOff" />
        <result column="evening_peak_time_on" jdbcType="VARCHAR" property="eveningPeakTimeOn" />
        <result column="evening_peak_time_off" jdbcType="VARCHAR" property="eveningPeakTimeOff" />
        <result column="other_peak_time_on" jdbcType="VARCHAR" property="otherPeakTimeOn" />
        <result column="other_peak_time_off" jdbcType="VARCHAR" property="otherPeakTimeOff" />
        <result column="peak_unit_price" jdbcType="DOUBLE" property="peakUnitPrice" />
        <result column="peak_price_start_mile" jdbcType="DOUBLE" property="peakPriceStartMile" />
        <result column="low_speed_price_per_minute" jdbcType="DOUBLE" property="lowSpeedPricePerMinute" />
        <result column="night_price_per_mile" jdbcType="DOUBLE" property="nightPricePerMile" />
        <result column="night_price_per_minute" jdbcType="DOUBLE" property="nightPricePerMinute" />
        <result column="other_price" jdbcType="DOUBLE" property="otherPrice" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="flag" jdbcType="INTEGER" property="flag" />
        <result column="reserved" jdbcType="VARCHAR" property="reserved" />
    </resultMap>
    <sql id="Base_Column_List">
    company_id, address, update_time, fare_type, fare_type_note, fare_valid_on, fare_valid_off,
    start_fare, start_mile, unit_price_per_mile, unit_price_per_minute, up_price, up_price_start_mile,
    morning_peak_time_on, morning_peak_time_off, evening_peak_time_on, evening_peak_time_off,
    other_peak_time_on, other_peak_time_off, peak_unit_price, peak_price_start_mile,
    low_speed_price_per_minute, night_price_per_mile, night_price_per_minute, other_price,
    state, flag, reserved
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from netcar_base_info_company_fare
        where company_id = #{companyId,jdbcType=VARCHAR}
        and address = #{address,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_base_info_company_fare
    where company_id = #{companyId,jdbcType=VARCHAR}
      and address = #{address,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyFare">
    insert into netcar_base_info_company_fare (company_id, address, update_time,
      fare_type, fare_type_note, fare_valid_on,
      fare_valid_off, start_fare, start_mile,
      unit_price_per_mile, unit_price_per_minute, up_price,
      up_price_start_mile, morning_peak_time_on, morning_peak_time_off,
      evening_peak_time_on, evening_peak_time_off,
      other_peak_time_on, other_peak_time_off, peak_unit_price,
      peak_price_start_mile, low_speed_price_per_minute,
      night_price_per_mile, night_price_per_minute, other_price,
      state, flag, reserved
      )
    values (#{companyId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR},
      #{fareType,jdbcType=VARCHAR}, #{fareTypeNote,jdbcType=VARCHAR}, #{fareValidOn,jdbcType=VARCHAR},
      #{fareValidOff,jdbcType=VARCHAR}, #{startFare,jdbcType=DOUBLE}, #{startMile,jdbcType=DOUBLE},
      #{unitPricePerMile,jdbcType=DOUBLE}, #{unitPricePerMinute,jdbcType=DOUBLE}, #{upPrice,jdbcType=DOUBLE},
      #{upPriceStartMile,jdbcType=DOUBLE}, #{morningPeakTimeOn,jdbcType=VARCHAR}, #{morningPeakTimeOff,jdbcType=VARCHAR},
      #{eveningPeakTimeOn,jdbcType=VARCHAR}, #{eveningPeakTimeOff,jdbcType=VARCHAR},
      #{otherPeakTimeOn,jdbcType=VARCHAR}, #{otherPeakTimeOff,jdbcType=VARCHAR}, #{peakUnitPrice,jdbcType=DOUBLE},
      #{peakPriceStartMile,jdbcType=DOUBLE}, #{lowSpeedPricePerMinute,jdbcType=DOUBLE},
      #{nightPricePerMile,jdbcType=DOUBLE}, #{nightPricePerMinute,jdbcType=DOUBLE}, #{otherPrice,jdbcType=DOUBLE},
      #{state,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{reserved,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyFare">
        insert into netcar_base_info_company_fare
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="fareType != null">
                fare_type,
            </if>
            <if test="fareTypeNote != null">
                fare_type_note,
            </if>
            <if test="fareValidOn != null">
                fare_valid_on,
            </if>
            <if test="fareValidOff != null">
                fare_valid_off,
            </if>
            <if test="startFare != null">
                start_fare,
            </if>
            <if test="startMile != null">
                start_mile,
            </if>
            <if test="unitPricePerMile != null">
                unit_price_per_mile,
            </if>
            <if test="unitPricePerMinute != null">
                unit_price_per_minute,
            </if>
            <if test="upPrice != null">
                up_price,
            </if>
            <if test="upPriceStartMile != null">
                up_price_start_mile,
            </if>
            <if test="morningPeakTimeOn != null">
                morning_peak_time_on,
            </if>
            <if test="morningPeakTimeOff != null">
                morning_peak_time_off,
            </if>
            <if test="eveningPeakTimeOn != null">
                evening_peak_time_on,
            </if>
            <if test="eveningPeakTimeOff != null">
                evening_peak_time_off,
            </if>
            <if test="otherPeakTimeOn != null">
                other_peak_time_on,
            </if>
            <if test="otherPeakTimeOff != null">
                other_peak_time_off,
            </if>
            <if test="peakUnitPrice != null">
                peak_unit_price,
            </if>
            <if test="peakPriceStartMile != null">
                peak_price_start_mile,
            </if>
            <if test="lowSpeedPricePerMinute != null">
                low_speed_price_per_minute,
            </if>
            <if test="nightPricePerMile != null">
                night_price_per_mile,
            </if>
            <if test="nightPricePerMinute != null">
                night_price_per_minute,
            </if>
            <if test="otherPrice != null">
                other_price,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="reserved != null">
                reserved,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="fareType != null">
                #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="fareTypeNote != null">
                #{fareTypeNote,jdbcType=VARCHAR},
            </if>
            <if test="fareValidOn != null">
                #{fareValidOn,jdbcType=VARCHAR},
            </if>
            <if test="fareValidOff != null">
                #{fareValidOff,jdbcType=VARCHAR},
            </if>
            <if test="startFare != null">
                #{startFare,jdbcType=DOUBLE},
            </if>
            <if test="startMile != null">
                #{startMile,jdbcType=DOUBLE},
            </if>
            <if test="unitPricePerMile != null">
                #{unitPricePerMile,jdbcType=DOUBLE},
            </if>
            <if test="unitPricePerMinute != null">
                #{unitPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="upPrice != null">
                #{upPrice,jdbcType=DOUBLE},
            </if>
            <if test="upPriceStartMile != null">
                #{upPriceStartMile,jdbcType=DOUBLE},
            </if>
            <if test="morningPeakTimeOn != null">
                #{morningPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="morningPeakTimeOff != null">
                #{morningPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="eveningPeakTimeOn != null">
                #{eveningPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="eveningPeakTimeOff != null">
                #{eveningPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="otherPeakTimeOn != null">
                #{otherPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="otherPeakTimeOff != null">
                #{otherPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="peakUnitPrice != null">
                #{peakUnitPrice,jdbcType=DOUBLE},
            </if>
            <if test="peakPriceStartMile != null">
                #{peakPriceStartMile,jdbcType=DOUBLE},
            </if>
            <if test="lowSpeedPricePerMinute != null">
                #{lowSpeedPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="nightPricePerMile != null">
                #{nightPricePerMile,jdbcType=DOUBLE},
            </if>
            <if test="nightPricePerMinute != null">
                #{nightPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="otherPrice != null">
                #{otherPrice,jdbcType=DOUBLE},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                #{reserved,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyFare">
        update netcar_base_info_company_fare
        <set>
            <if test="fareType != null">
                fare_type = #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="fareTypeNote != null">
                fare_type_note = #{fareTypeNote,jdbcType=VARCHAR},
            </if>
            <if test="fareValidOn != null">
                fare_valid_on = #{fareValidOn,jdbcType=VARCHAR},
            </if>
            <if test="fareValidOff != null">
                fare_valid_off = #{fareValidOff,jdbcType=VARCHAR},
            </if>
            <if test="startFare != null">
                start_fare = #{startFare,jdbcType=DOUBLE},
            </if>
            <if test="startMile != null">
                start_mile = #{startMile,jdbcType=DOUBLE},
            </if>
            <if test="unitPricePerMile != null">
                unit_price_per_mile = #{unitPricePerMile,jdbcType=DOUBLE},
            </if>
            <if test="unitPricePerMinute != null">
                unit_price_per_minute = #{unitPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="upPrice != null">
                up_price = #{upPrice,jdbcType=DOUBLE},
            </if>
            <if test="upPriceStartMile != null">
                up_price_start_mile = #{upPriceStartMile,jdbcType=DOUBLE},
            </if>
            <if test="morningPeakTimeOn != null">
                morning_peak_time_on = #{morningPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="morningPeakTimeOff != null">
                morning_peak_time_off = #{morningPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="eveningPeakTimeOn != null">
                evening_peak_time_on = #{eveningPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="eveningPeakTimeOff != null">
                evening_peak_time_off = #{eveningPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="otherPeakTimeOn != null">
                other_peak_time_on = #{otherPeakTimeOn,jdbcType=VARCHAR},
            </if>
            <if test="otherPeakTimeOff != null">
                other_peak_time_off = #{otherPeakTimeOff,jdbcType=VARCHAR},
            </if>
            <if test="peakUnitPrice != null">
                peak_unit_price = #{peakUnitPrice,jdbcType=DOUBLE},
            </if>
            <if test="peakPriceStartMile != null">
                peak_price_start_mile = #{peakPriceStartMile,jdbcType=DOUBLE},
            </if>
            <if test="lowSpeedPricePerMinute != null">
                low_speed_price_per_minute = #{lowSpeedPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="nightPricePerMile != null">
                night_price_per_mile = #{nightPricePerMile,jdbcType=DOUBLE},
            </if>
            <if test="nightPricePerMinute != null">
                night_price_per_minute = #{nightPricePerMinute,jdbcType=DOUBLE},
            </if>
            <if test="otherPrice != null">
                other_price = #{otherPrice,jdbcType=DOUBLE},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="reserved != null">
                reserved = #{reserved,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
        and address = #{address,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompanyFare">
    update netcar_base_info_company_fare
    set fare_type = #{fareType,jdbcType=VARCHAR},
      fare_type_note = #{fareTypeNote,jdbcType=VARCHAR},
      fare_valid_on = #{fareValidOn,jdbcType=VARCHAR},
      fare_valid_off = #{fareValidOff,jdbcType=VARCHAR},
      start_fare = #{startFare,jdbcType=DOUBLE},
      start_mile = #{startMile,jdbcType=DOUBLE},
      unit_price_per_mile = #{unitPricePerMile,jdbcType=DOUBLE},
      unit_price_per_minute = #{unitPricePerMinute,jdbcType=DOUBLE},
      up_price = #{upPrice,jdbcType=DOUBLE},
      up_price_start_mile = #{upPriceStartMile,jdbcType=DOUBLE},
      morning_peak_time_on = #{morningPeakTimeOn,jdbcType=VARCHAR},
      morning_peak_time_off = #{morningPeakTimeOff,jdbcType=VARCHAR},
      evening_peak_time_on = #{eveningPeakTimeOn,jdbcType=VARCHAR},
      evening_peak_time_off = #{eveningPeakTimeOff,jdbcType=VARCHAR},
      other_peak_time_on = #{otherPeakTimeOn,jdbcType=VARCHAR},
      other_peak_time_off = #{otherPeakTimeOff,jdbcType=VARCHAR},
      peak_unit_price = #{peakUnitPrice,jdbcType=DOUBLE},
      peak_price_start_mile = #{peakPriceStartMile,jdbcType=DOUBLE},
      low_speed_price_per_minute = #{lowSpeedPricePerMinute,jdbcType=DOUBLE},
      night_price_per_mile = #{nightPricePerMile,jdbcType=DOUBLE},
      night_price_per_minute = #{nightPricePerMinute,jdbcType=DOUBLE},
      other_price = #{otherPrice,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and address = #{address,jdbcType=INTEGER}
  </update>

    <select id="selectCompanyFareListByCompanyId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_company_fare
        <where>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>