<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarPermitVehicleInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.app.NetcarPermitVehicleInfo">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="corp_id" jdbcType="BIGINT" property="corpId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="handler_phone" jdbcType="VARCHAR" property="handlerPhone" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
    <result column="plate_color" jdbcType="VARCHAR" property="plateColor" />
    <result column="seats" jdbcType="INTEGER" property="seats" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="owner_type" jdbcType="INTEGER" property="ownerType" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="vehicle_color" jdbcType="VARCHAR" property="vehicleColor" />
    <result column="engine_id" jdbcType="VARCHAR" property="engineId" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="certify_date_a" jdbcType="DATE" property="certifyDateA" />
    <result column="fuel_type" jdbcType="VARCHAR" property="fuelType" />
    <result column="engine_displace" jdbcType="VARCHAR" property="engineDisplace" />
    <result column="photo_id" jdbcType="VARCHAR" property="photoId" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="trans_agency" jdbcType="VARCHAR" property="transAgency" />
    <result column="trans_area" jdbcType="VARCHAR" property="transArea" />
    <result column="trans_date_start" jdbcType="DATE" property="transDateStart" />
    <result column="trans_date_stop" jdbcType="DATE" property="transDateStop" />
    <result column="certify_date_b" jdbcType="DATE" property="certifyDateB" />
    <result column="fix_state" jdbcType="VARCHAR" property="fixState" />
    <result column="next_fix_date" jdbcType="DATE" property="nextFixDate" />
    <result column="check_state" jdbcType="VARCHAR" property="checkState" />
    <result column="fee_print_id" jdbcType="VARCHAR" property="feePrintId" />
    <result column="gps_brand" jdbcType="VARCHAR" property="gpsBrand" />
    <result column="gps_model" jdbcType="VARCHAR" property="gpsModel" />
    <result column="gps_imei" jdbcType="VARCHAR" property="gpsImei" />
    <result column="gps_install_date" jdbcType="DATE" property="gpsInstallDate" />
    <result column="register_date" jdbcType="DATE" property="registerDate" />
    <result column="commercial_type" jdbcType="INTEGER" property="commercialType" />
    <result column="fare_type" jdbcType="VARCHAR" property="fareType" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="file_names" jdbcType="VARCHAR" property="fileNames" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, corp_id, company_name, handler, handler_phone, address, vehicle_no, plate_color, 
    seats, brand, model, vehicle_type, owner_type, owner_name, vehicle_color, engine_id, 
    vin, certify_date_a, fuel_type, engine_displace, photo_id, certificate, trans_agency, 
    trans_area, trans_date_start, trans_date_stop, certify_date_b, fix_state, next_fix_date, 
    check_state, fee_print_id, gps_brand, gps_model, gps_imei, gps_install_date, register_date, 
    commercial_type, fare_type, flag, reason, update_time, create_time, creator, modifier, 
    status, domain, file_names
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_permit_vehicle_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from netcar_permit_vehicle_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitVehicleInfo">
    insert into netcar_permit_vehicle_info (uuid, corp_id, company_name, 
      handler, handler_phone, address, 
      vehicle_no, plate_color, seats, 
      brand, model, vehicle_type, 
      owner_type, owner_name, vehicle_color, 
      engine_id, vin, certify_date_a, 
      fuel_type, engine_displace, photo_id, 
      certificate, trans_agency, trans_area, 
      trans_date_start, trans_date_stop, certify_date_b, 
      fix_state, next_fix_date, check_state, 
      fee_print_id, gps_brand, gps_model, 
      gps_imei, gps_install_date, register_date, 
      commercial_type, fare_type, flag, 
      reason, update_time, create_time, 
      creator, modifier, status, 
      domain, file_names)
    values (#{uuid,jdbcType=BIGINT}, #{corpId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}, 
      #{handler,jdbcType=VARCHAR}, #{handlerPhone,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{vehicleNo,jdbcType=VARCHAR}, #{plateColor,jdbcType=VARCHAR}, #{seats,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{vehicleType,jdbcType=VARCHAR}, 
      #{ownerType,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR}, #{vehicleColor,jdbcType=VARCHAR}, 
      #{engineId,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{certifyDateA,jdbcType=DATE}, 
      #{fuelType,jdbcType=VARCHAR}, #{engineDisplace,jdbcType=VARCHAR}, #{photoId,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{transAgency,jdbcType=VARCHAR}, #{transArea,jdbcType=VARCHAR}, 
      #{transDateStart,jdbcType=DATE}, #{transDateStop,jdbcType=DATE}, #{certifyDateB,jdbcType=DATE}, 
      #{fixState,jdbcType=VARCHAR}, #{nextFixDate,jdbcType=DATE}, #{checkState,jdbcType=VARCHAR}, 
      #{feePrintId,jdbcType=VARCHAR}, #{gpsBrand,jdbcType=VARCHAR}, #{gpsModel,jdbcType=VARCHAR}, 
      #{gpsImei,jdbcType=VARCHAR}, #{gpsInstallDate,jdbcType=DATE}, #{registerDate,jdbcType=DATE}, 
      #{commercialType,jdbcType=INTEGER}, #{fareType,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{reason,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{domain,jdbcType=VARCHAR}, #{fileNames,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitVehicleInfo">
    insert into netcar_permit_vehicle_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="handlerPhone != null">
        handler_phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
      <if test="plateColor != null">
        plate_color,
      </if>
      <if test="seats != null">
        seats,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="vehicleType != null">
        vehicle_type,
      </if>
      <if test="ownerType != null">
        owner_type,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="vehicleColor != null">
        vehicle_color,
      </if>
      <if test="engineId != null">
        engine_id,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="certifyDateA != null">
        certify_date_a,
      </if>
      <if test="fuelType != null">
        fuel_type,
      </if>
      <if test="engineDisplace != null">
        engine_displace,
      </if>
      <if test="photoId != null">
        photo_id,
      </if>
      <if test="certificate != null">
        certificate,
      </if>
      <if test="transAgency != null">
        trans_agency,
      </if>
      <if test="transArea != null">
        trans_area,
      </if>
      <if test="transDateStart != null">
        trans_date_start,
      </if>
      <if test="transDateStop != null">
        trans_date_stop,
      </if>
      <if test="certifyDateB != null">
        certify_date_b,
      </if>
      <if test="fixState != null">
        fix_state,
      </if>
      <if test="nextFixDate != null">
        next_fix_date,
      </if>
      <if test="checkState != null">
        check_state,
      </if>
      <if test="feePrintId != null">
        fee_print_id,
      </if>
      <if test="gpsBrand != null">
        gps_brand,
      </if>
      <if test="gpsModel != null">
        gps_model,
      </if>
      <if test="gpsImei != null">
        gps_imei,
      </if>
      <if test="gpsInstallDate != null">
        gps_install_date,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="commercialType != null">
        commercial_type,
      </if>
      <if test="fareType != null">
        fare_type,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="fileNames != null">
        file_names,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="handlerPhone != null">
        #{handlerPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=INTEGER},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="plateColor != null">
        #{plateColor,jdbcType=VARCHAR},
      </if>
      <if test="seats != null">
        #{seats,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null">
        #{ownerType,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="vehicleColor != null">
        #{vehicleColor,jdbcType=VARCHAR},
      </if>
      <if test="engineId != null">
        #{engineId,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="certifyDateA != null">
        #{certifyDateA,jdbcType=DATE},
      </if>
      <if test="fuelType != null">
        #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="engineDisplace != null">
        #{engineDisplace,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="transAgency != null">
        #{transAgency,jdbcType=VARCHAR},
      </if>
      <if test="transArea != null">
        #{transArea,jdbcType=VARCHAR},
      </if>
      <if test="transDateStart != null">
        #{transDateStart,jdbcType=DATE},
      </if>
      <if test="transDateStop != null">
        #{transDateStop,jdbcType=DATE},
      </if>
      <if test="certifyDateB != null">
        #{certifyDateB,jdbcType=DATE},
      </if>
      <if test="fixState != null">
        #{fixState,jdbcType=VARCHAR},
      </if>
      <if test="nextFixDate != null">
        #{nextFixDate,jdbcType=DATE},
      </if>
      <if test="checkState != null">
        #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="feePrintId != null">
        #{feePrintId,jdbcType=VARCHAR},
      </if>
      <if test="gpsBrand != null">
        #{gpsBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsModel != null">
        #{gpsModel,jdbcType=VARCHAR},
      </if>
      <if test="gpsImei != null">
        #{gpsImei,jdbcType=VARCHAR},
      </if>
      <if test="gpsInstallDate != null">
        #{gpsInstallDate,jdbcType=DATE},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=DATE},
      </if>
      <if test="commercialType != null">
        #{commercialType,jdbcType=INTEGER},
      </if>
      <if test="fareType != null">
        #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="fileNames != null">
        #{fileNames,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitVehicleInfo">
    update netcar_permit_vehicle_info
    <set>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="handlerPhone != null">
        handler_phone = #{handlerPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="vehicleNo != null">
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="plateColor != null">
        plate_color = #{plateColor,jdbcType=VARCHAR},
      </if>
      <if test="seats != null">
        seats = #{seats,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null">
        owner_type = #{ownerType,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="vehicleColor != null">
        vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
      </if>
      <if test="engineId != null">
        engine_id = #{engineId,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="certifyDateA != null">
        certify_date_a = #{certifyDateA,jdbcType=DATE},
      </if>
      <if test="fuelType != null">
        fuel_type = #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="engineDisplace != null">
        engine_displace = #{engineDisplace,jdbcType=VARCHAR},
      </if>
      <if test="photoId != null">
        photo_id = #{photoId,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="transAgency != null">
        trans_agency = #{transAgency,jdbcType=VARCHAR},
      </if>
      <if test="transArea != null">
        trans_area = #{transArea,jdbcType=VARCHAR},
      </if>
      <if test="transDateStart != null">
        trans_date_start = #{transDateStart,jdbcType=DATE},
      </if>
      <if test="transDateStop != null">
        trans_date_stop = #{transDateStop,jdbcType=DATE},
      </if>
      <if test="certifyDateB != null">
        certify_date_b = #{certifyDateB,jdbcType=DATE},
      </if>
      <if test="fixState != null">
        fix_state = #{fixState,jdbcType=VARCHAR},
      </if>
      <if test="nextFixDate != null">
        next_fix_date = #{nextFixDate,jdbcType=DATE},
      </if>
      <if test="checkState != null">
        check_state = #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="feePrintId != null">
        fee_print_id = #{feePrintId,jdbcType=VARCHAR},
      </if>
      <if test="gpsBrand != null">
        gps_brand = #{gpsBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsModel != null">
        gps_model = #{gpsModel,jdbcType=VARCHAR},
      </if>
      <if test="gpsImei != null">
        gps_imei = #{gpsImei,jdbcType=VARCHAR},
      </if>
      <if test="gpsInstallDate != null">
        gps_install_date = #{gpsInstallDate,jdbcType=DATE},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=DATE},
      </if>
      <if test="commercialType != null">
        commercial_type = #{commercialType,jdbcType=INTEGER},
      </if>
      <if test="fareType != null">
        fare_type = #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="fileNames != null">
        file_names = #{fileNames,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.app.NetcarPermitVehicleInfo">
    update netcar_permit_vehicle_info
    set corp_id = #{corpId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      handler_phone = #{handlerPhone,jdbcType=VARCHAR},
      address = #{address,jdbcType=INTEGER},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      plate_color = #{plateColor,jdbcType=VARCHAR},
      seats = #{seats,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      owner_type = #{ownerType,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
      engine_id = #{engineId,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      certify_date_a = #{certifyDateA,jdbcType=DATE},
      fuel_type = #{fuelType,jdbcType=VARCHAR},
      engine_displace = #{engineDisplace,jdbcType=VARCHAR},
      photo_id = #{photoId,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      trans_agency = #{transAgency,jdbcType=VARCHAR},
      trans_area = #{transArea,jdbcType=VARCHAR},
      trans_date_start = #{transDateStart,jdbcType=DATE},
      trans_date_stop = #{transDateStop,jdbcType=DATE},
      certify_date_b = #{certifyDateB,jdbcType=DATE},
      fix_state = #{fixState,jdbcType=VARCHAR},
      next_fix_date = #{nextFixDate,jdbcType=DATE},
      check_state = #{checkState,jdbcType=VARCHAR},
      fee_print_id = #{feePrintId,jdbcType=VARCHAR},
      gps_brand = #{gpsBrand,jdbcType=VARCHAR},
      gps_model = #{gpsModel,jdbcType=VARCHAR},
      gps_imei = #{gpsImei,jdbcType=VARCHAR},
      gps_install_date = #{gpsInstallDate,jdbcType=DATE},
      register_date = #{registerDate,jdbcType=DATE},
      commercial_type = #{commercialType,jdbcType=INTEGER},
      fare_type = #{fareType,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      domain = #{domain,jdbcType=VARCHAR},
      file_names = #{fileNames,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>

    <select id="selectPermitVehicleInfoList" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from netcar_permit_vehicle_info
        <where>
            and status = 1
            <if test="corpId != null">
                and corp_id = #{corpId}
            </if>
            <if test="flag != null">
                and flag = #{flag}
            </if>
            <if test="keyword != null">
                and
                (
                    vehicle_no like concat('%',#{keyword},'%')
                    or
                    company_name like concat('%',#{keyword},'%')
                    or
                    handler like concat('%',#{keyword},'%')
                    or
                    address like concat('%',#{keyword},'%')
                    or
                    handler_phone like concat('%',#{keyword},'%')
                )
            </if>
        </where>
    </select>
    
</mapper>