<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarRatedDriverMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarRatedDriver">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <id column="license_id" jdbcType="VARCHAR" property="licenseId" />
    <id column="test_date" jdbcType="VARCHAR" property="testDate" />
    <result column="level" jdbcType="DOUBLE" property="level" />
    <result column="test_department" jdbcType="VARCHAR" property="testDepartment" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, license_id, test_date, level, test_department, reserved
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_rated_driver
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and test_date = #{testDate,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_rated_driver
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and test_date = #{testDate,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedDriver">
    insert into netcar_rated_driver (company_id, license_id, test_date, 
      level, test_department, reserved
      )
    values (#{companyId,jdbcType=VARCHAR}, #{licenseId,jdbcType=VARCHAR}, #{testDate,jdbcType=VARCHAR}, 
      #{level,jdbcType=DOUBLE}, #{testDepartment,jdbcType=VARCHAR}, #{reserved,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedDriver">
    insert into netcar_rated_driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="testDate != null">
        test_date,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="testDepartment != null">
        test_department,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="testDate != null">
        #{testDate,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=DOUBLE},
      </if>
      <if test="testDepartment != null">
        #{testDepartment,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedDriver">
    update netcar_rated_driver
    <set>
      <if test="level != null">
        level = #{level,jdbcType=DOUBLE},
      </if>
      <if test="testDepartment != null">
        test_department = #{testDepartment,jdbcType=VARCHAR},
      </if>
      <if test="reserved != null">
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and test_date = #{testDate,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarRatedDriver">
    update netcar_rated_driver
    set level = #{level,jdbcType=DOUBLE},
      test_department = #{testDepartment,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and test_date = #{testDate,jdbcType=VARCHAR}
  </update>

    <select id="selectListByKeyword" resultMap="BaseResultMap" parameterType="com.zhcx.netcar.params.RatedDriverParam">
        select
        <include refid="Base_Column_List"/>
        from netcar_rated_driver
        <where>
<!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
<!--            and license_id in (select cardno from yunzheng_base_info_driver)-->
            <if test="companyId != null and companyId != ''">
                and company_id = #{companyId}
            </if>
            <if test="licenseId != null and licenseId != ''">
                and license_id like concat('%',#{licenseId},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''" >
                and test_date between date_format(#{startTime},'%Y%m%d')
                and date_format(#{endTime},'%Y%m%d')
            </if>
        </where>
    </select>
</mapper>