<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarBaseInfoVehicleMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarBaseInfoVehicle">
        <id column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <id column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo"/>
        <result column="address" jdbcType="INTEGER" property="address"/>
        <result column="plate_color" jdbcType="VARCHAR" property="plateColor"/>
        <result column="seats" jdbcType="INTEGER" property="seats"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="vehicle_color" jdbcType="VARCHAR" property="vehicleColor"/>
        <result column="engine_id" jdbcType="VARCHAR" property="engineId"/>
        <result column="vin" jdbcType="VARCHAR" property="vin"/>
        <result column="certify_date_a" jdbcType="VARCHAR" property="certifyDateA"/>
        <result column="fuel_type" jdbcType="VARCHAR" property="fuelType"/>
        <result column="engine_displace" jdbcType="VARCHAR" property="engineDisplace"/>
        <result column="photo_id" jdbcType="VARCHAR" property="photoId"/>
        <result column="certificate" jdbcType="VARCHAR" property="certificate"/>
        <result column="trans_agency" jdbcType="VARCHAR" property="transAgency"/>
        <result column="trans_area" jdbcType="VARCHAR" property="transArea"/>
        <result column="trans_date_start" jdbcType="VARCHAR" property="transDateStart"/>
        <result column="trans_date_stop" jdbcType="VARCHAR" property="transDateStop"/>
        <result column="certify_date_b" jdbcType="VARCHAR" property="certifyDateB"/>
        <result column="fix_state" jdbcType="VARCHAR" property="fixState"/>
        <result column="next_fix_date" jdbcType="VARCHAR" property="nextFixDate"/>
        <result column="check_state" jdbcType="VARCHAR" property="checkState"/>
        <result column="fee_print_id" jdbcType="VARCHAR" property="feePrintId"/>
        <result column="gps_brand" jdbcType="VARCHAR" property="gpsBrand"/>
        <result column="gps_model" jdbcType="VARCHAR" property="gpsModel"/>
        <result column="gps_imei" jdbcType="VARCHAR" property="gpsImei"/>
        <result column="gps_install_date" jdbcType="VARCHAR" property="gpsInstallDate"/>
        <result column="register_date" jdbcType="VARCHAR" property="registerDate"/>
        <result column="commercial_type" jdbcType="INTEGER" property="commercialType"/>
        <result column="fare_type" jdbcType="VARCHAR" property="fareType"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="reserved" jdbcType="VARCHAR" property="reserved"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_id, vehicle_no, address, plate_color, seats, brand, model, vehicle_type, 
    owner_name, vehicle_color, engine_id, vin, certify_date_a, fuel_type, engine_displace, 
    photo_id, certificate, trans_agency, trans_area, trans_date_start, trans_date_stop, 
    certify_date_b, fix_state, next_fix_date, check_state, fee_print_id, gps_brand, gps_model, 
    gps_imei, gps_install_date, register_date, commercial_type, fare_type, state, flag, 
    update_time, reserved
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_vehicle
        where company_id = #{companyId,jdbcType=VARCHAR}
        and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_base_info_vehicle
    where company_id = #{companyId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoVehicle">
    insert into netcar_base_info_vehicle (company_id, vehicle_no, address, 
      plate_color, seats, brand, 
      model, vehicle_type, owner_name, 
      vehicle_color, engine_id, vin, 
      certify_date_a, fuel_type, engine_displace, 
      photo_id, certificate, trans_agency, 
      trans_area, trans_date_start, trans_date_stop, 
      certify_date_b, fix_state, next_fix_date, 
      check_state, fee_print_id, gps_brand, 
      gps_model, gps_imei, gps_install_date, 
      register_date, commercial_type, fare_type, 
      state, flag, update_time, 
      reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{plateColor,jdbcType=VARCHAR}, #{seats,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{vehicleType,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, 
      #{vehicleColor,jdbcType=VARCHAR}, #{engineId,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, 
      #{certifyDateA,jdbcType=VARCHAR}, #{fuelType,jdbcType=VARCHAR}, #{engineDisplace,jdbcType=VARCHAR}, 
      #{photoId,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR}, #{transAgency,jdbcType=VARCHAR}, 
      #{transArea,jdbcType=VARCHAR}, #{transDateStart,jdbcType=VARCHAR}, #{transDateStop,jdbcType=VARCHAR}, 
      #{certifyDateB,jdbcType=VARCHAR}, #{fixState,jdbcType=VARCHAR}, #{nextFixDate,jdbcType=VARCHAR}, 
      #{checkState,jdbcType=VARCHAR}, #{feePrintId,jdbcType=VARCHAR}, #{gpsBrand,jdbcType=VARCHAR}, 
      #{gpsModel,jdbcType=VARCHAR}, #{gpsImei,jdbcType=VARCHAR}, #{gpsInstallDate,jdbcType=VARCHAR}, 
      #{registerDate,jdbcType=VARCHAR}, #{commercialType,jdbcType=INTEGER}, #{fareType,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, 
      #{reserved,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoVehicle">
        insert into netcar_base_info_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="vehicleNo != null">
                vehicle_no,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="plateColor != null">
                plate_color,
            </if>
            <if test="seats != null">
                seats,
            </if>
            <if test="brand != null">
                brand,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="vehicleType != null">
                vehicle_type,
            </if>
            <if test="ownerName != null">
                owner_name,
            </if>
            <if test="vehicleColor != null">
                vehicle_color,
            </if>
            <if test="engineId != null">
                engine_id,
            </if>
            <if test="vin != null">
                vin,
            </if>
            <if test="certifyDateA != null">
                certify_date_a,
            </if>
            <if test="fuelType != null">
                fuel_type,
            </if>
            <if test="engineDisplace != null">
                engine_displace,
            </if>
            <if test="photoId != null">
                photo_id,
            </if>
            <if test="certificate != null">
                certificate,
            </if>
            <if test="transAgency != null">
                trans_agency,
            </if>
            <if test="transArea != null">
                trans_area,
            </if>
            <if test="transDateStart != null">
                trans_date_start,
            </if>
            <if test="transDateStop != null">
                trans_date_stop,
            </if>
            <if test="certifyDateB != null">
                certify_date_b,
            </if>
            <if test="fixState != null">
                fix_state,
            </if>
            <if test="nextFixDate != null">
                next_fix_date,
            </if>
            <if test="checkState != null">
                check_state,
            </if>
            <if test="feePrintId != null">
                fee_print_id,
            </if>
            <if test="gpsBrand != null">
                gps_brand,
            </if>
            <if test="gpsModel != null">
                gps_model,
            </if>
            <if test="gpsImei != null">
                gps_imei,
            </if>
            <if test="gpsInstallDate != null">
                gps_install_date,
            </if>
            <if test="registerDate != null">
                register_date,
            </if>
            <if test="commercialType != null">
                commercial_type,
            </if>
            <if test="fareType != null">
                fare_type,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="reserved != null">
                reserved,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="vehicleNo != null">
                #{vehicleNo,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=INTEGER},
            </if>
            <if test="plateColor != null">
                #{plateColor,jdbcType=VARCHAR},
            </if>
            <if test="seats != null">
                #{seats,jdbcType=INTEGER},
            </if>
            <if test="brand != null">
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null">
                #{vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="vehicleColor != null">
                #{vehicleColor,jdbcType=VARCHAR},
            </if>
            <if test="engineId != null">
                #{engineId,jdbcType=VARCHAR},
            </if>
            <if test="vin != null">
                #{vin,jdbcType=VARCHAR},
            </if>
            <if test="certifyDateA != null">
                #{certifyDateA,jdbcType=VARCHAR},
            </if>
            <if test="fuelType != null">
                #{fuelType,jdbcType=VARCHAR},
            </if>
            <if test="engineDisplace != null">
                #{engineDisplace,jdbcType=VARCHAR},
            </if>
            <if test="photoId != null">
                #{photoId,jdbcType=VARCHAR},
            </if>
            <if test="certificate != null">
                #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="transAgency != null">
                #{transAgency,jdbcType=VARCHAR},
            </if>
            <if test="transArea != null">
                #{transArea,jdbcType=VARCHAR},
            </if>
            <if test="transDateStart != null">
                #{transDateStart,jdbcType=VARCHAR},
            </if>
            <if test="transDateStop != null">
                #{transDateStop,jdbcType=VARCHAR},
            </if>
            <if test="certifyDateB != null">
                #{certifyDateB,jdbcType=VARCHAR},
            </if>
            <if test="fixState != null">
                #{fixState,jdbcType=VARCHAR},
            </if>
            <if test="nextFixDate != null">
                #{nextFixDate,jdbcType=VARCHAR},
            </if>
            <if test="checkState != null">
                #{checkState,jdbcType=VARCHAR},
            </if>
            <if test="feePrintId != null">
                #{feePrintId,jdbcType=VARCHAR},
            </if>
            <if test="gpsBrand != null">
                #{gpsBrand,jdbcType=VARCHAR},
            </if>
            <if test="gpsModel != null">
                #{gpsModel,jdbcType=VARCHAR},
            </if>
            <if test="gpsImei != null">
                #{gpsImei,jdbcType=VARCHAR},
            </if>
            <if test="gpsInstallDate != null">
                #{gpsInstallDate,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                #{registerDate,jdbcType=VARCHAR},
            </if>
            <if test="commercialType != null">
                #{commercialType,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="reserved != null">
                #{reserved,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoVehicle">
        update netcar_base_info_vehicle
        <set>
            <if test="address != null">
                address = #{address,jdbcType=INTEGER},
            </if>
            <if test="plateColor != null">
                plate_color = #{plateColor,jdbcType=VARCHAR},
            </if>
            <if test="seats != null">
                seats = #{seats,jdbcType=INTEGER},
            </if>
            <if test="brand != null">
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null">
                vehicle_type = #{vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                owner_name = #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="vehicleColor != null">
                vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
            </if>
            <if test="engineId != null">
                engine_id = #{engineId,jdbcType=VARCHAR},
            </if>
            <if test="vin != null">
                vin = #{vin,jdbcType=VARCHAR},
            </if>
            <if test="certifyDateA != null">
                certify_date_a = #{certifyDateA,jdbcType=VARCHAR},
            </if>
            <if test="fuelType != null">
                fuel_type = #{fuelType,jdbcType=VARCHAR},
            </if>
            <if test="engineDisplace != null">
                engine_displace = #{engineDisplace,jdbcType=VARCHAR},
            </if>
            <if test="photoId != null">
                photo_id = #{photoId,jdbcType=VARCHAR},
            </if>
            <if test="certificate != null">
                certificate = #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="transAgency != null">
                trans_agency = #{transAgency,jdbcType=VARCHAR},
            </if>
            <if test="transArea != null">
                trans_area = #{transArea,jdbcType=VARCHAR},
            </if>
            <if test="transDateStart != null">
                trans_date_start = #{transDateStart,jdbcType=VARCHAR},
            </if>
            <if test="transDateStop != null">
                trans_date_stop = #{transDateStop,jdbcType=VARCHAR},
            </if>
            <if test="certifyDateB != null">
                certify_date_b = #{certifyDateB,jdbcType=VARCHAR},
            </if>
            <if test="fixState != null">
                fix_state = #{fixState,jdbcType=VARCHAR},
            </if>
            <if test="nextFixDate != null">
                next_fix_date = #{nextFixDate,jdbcType=VARCHAR},
            </if>
            <if test="checkState != null">
                check_state = #{checkState,jdbcType=VARCHAR},
            </if>
            <if test="feePrintId != null">
                fee_print_id = #{feePrintId,jdbcType=VARCHAR},
            </if>
            <if test="gpsBrand != null">
                gps_brand = #{gpsBrand,jdbcType=VARCHAR},
            </if>
            <if test="gpsModel != null">
                gps_model = #{gpsModel,jdbcType=VARCHAR},
            </if>
            <if test="gpsImei != null">
                gps_imei = #{gpsImei,jdbcType=VARCHAR},
            </if>
            <if test="gpsInstallDate != null">
                gps_install_date = #{gpsInstallDate,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                register_date = #{registerDate,jdbcType=VARCHAR},
            </if>
            <if test="commercialType != null">
                commercial_type = #{commercialType,jdbcType=INTEGER},
            </if>
            <if test="fareType != null">
                fare_type = #{fareType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="reserved != null">
                reserved = #{reserved,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{companyId,jdbcType=VARCHAR}
        and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarBaseInfoVehicle">
    update netcar_base_info_vehicle
    set address = #{address,jdbcType=INTEGER},
      plate_color = #{plateColor,jdbcType=VARCHAR},
      seats = #{seats,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
      engine_id = #{engineId,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      certify_date_a = #{certifyDateA,jdbcType=VARCHAR},
      fuel_type = #{fuelType,jdbcType=VARCHAR},
      engine_displace = #{engineDisplace,jdbcType=VARCHAR},
      photo_id = #{photoId,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      trans_agency = #{transAgency,jdbcType=VARCHAR},
      trans_area = #{transArea,jdbcType=VARCHAR},
      trans_date_start = #{transDateStart,jdbcType=VARCHAR},
      trans_date_stop = #{transDateStop,jdbcType=VARCHAR},
      certify_date_b = #{certifyDateB,jdbcType=VARCHAR},
      fix_state = #{fixState,jdbcType=VARCHAR},
      next_fix_date = #{nextFixDate,jdbcType=VARCHAR},
      check_state = #{checkState,jdbcType=VARCHAR},
      fee_print_id = #{feePrintId,jdbcType=VARCHAR},
      gps_brand = #{gpsBrand,jdbcType=VARCHAR},
      gps_model = #{gpsModel,jdbcType=VARCHAR},
      gps_imei = #{gpsImei,jdbcType=VARCHAR},
      gps_install_date = #{gpsInstallDate,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=VARCHAR},
      commercial_type = #{commercialType,jdbcType=INTEGER},
      fare_type = #{fareType,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
  </update>


    <select id="selectVehicleBaseList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_vehicle
        <where>
            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b
            where a.service_no = b.busiRegNumber)
            and vehicle_no in (select branum from yunzheng_base_info_vehicle)
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="vehicleNo != null">
                and vehicle_no like CONCAT('%',#{vehicleNo},'%')
            </if>
        </where>
    </select>

    <select id="selectByCompanyIdAndVehicleNo" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_vehicle
        <where>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="companyId == null">
                and company_id in (select company_id from netcar_base_info_company_service )
            </if>
            <if test="vehicleNo != null">
                and vehicle_no = #{vehicleNo}
            </if>
            <if test="vehicleNo == null">
                and vehicle_no in (select car_num from t_base_info_vehiclelicence where vehicle_type = 4)
            </if>
        </where>
    </select>

    <select id="queryCompanyVehicleList" parameterType="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_base_info_vehiclelicence t
        WHERE t.`company_id` IN
        <foreach collection="corpIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and a.company_id in (select company_id from netcar_base_info_company_service a,t_base_info_company b where
        a.service_no = b.identifier
        <!--        AND b.source = 4-->
        AND b.corp_type = 4 )
        and t.car_num in (
        SELECT
        car_num
        FROM
        t_base_info_vehiclelicence
        WHERE
        <!--            source = 4 -->
        <!--            AND -->
        vehicle_type = 4 )
    </select>


    <select id="selectVehicleNoListByCompanyId" resultType="java.lang.String" parameterType="java.lang.String">
        select vehicle_no
        from netcar_base_info_vehicle
        where company_id = #{companyId}
    </select>

    <select id="queryVehicleListByAddress" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        t.car_num as vehicle_no,
        t.company_id
        from t_base_info_vehiclelicence t
        where
        <!--        t.car_native_place = #{address}-->
        <!--            and -->
        t.company_id IN ( SELECT a.company_id FROM netcar_base_info_company_service a
                                                      WHERE
        <!--                                                a.source = 4 AND  a.corp_type = 4 and-->
                                                            a.company_id != '')
        <!--        AND t.source = 4-->
        AND t.vehicle_type = 4
    </select>


    <select id="selectIllegalVehicleList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_vehicle t1
        <where>
            <if test="companyId != null">
                and t1.company_id = #{companyId}
            </if>
            <if test="vehicleNo != null">
                and t1.vehicle_no like CONCAT('%',#{vehicleNo},'%')
            </if>
            and t1.company_id in (
            select company_id
            from netcar_base_info_company_service
            )
            and not exists (
            select branum from yunzheng_base_info_vehicle t2
            where t1.vehicle_no = t2.branum
            )
        </where>
    </select>

    <select id="getCompanyList" parameterType="java.lang.String"
            resultType="com.zhcx.netcar.pojo.base.NetcarBaseInfoCompany">
        SELECT
        *
        FROM
	      netcar_base_info_company AS company
        WHERE
	      company.company_id IN (
		      SELECT DISTINCT netcar.company_id
		      FROM
			    netcar_base_info_vehicle AS netcar
		      WHERE
			    netcar.company_id NOT IN (
				  SELECT
					service.company_id
				  FROM
					netcar_base_info_company_service AS service
			      )
		          GROUP BY company_id
	      )
    </select>

    <select id="getVehilceIllegal" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from netcar_base_info_vehicle as netcar
        <where>
            NOT exists(
            SELECT service.company_id
            from netcar_base_info_company_service as service
            where netcar.company_id = service.company_id)
            <if test="companyId != null and companyId != ''">
                and company_id = #{companyId}
            </if>
            <if test="vehicleNo != null and vehicleNo != ''">
                and vehicle_no like concat(#{vehicleNo},'%')
            </if>
        </where>
    </select>

    <insert id="saveBaseVehicleBatch" parameterType="java.util.ArrayList">
        insert into t_base_info_vehiclelicence (uuid, corp_id, creator, time_created,time_modified,
        vin, ein, car_num, car_brand, car_model,
        car_color, plate_number_colour, fuel_type, device_id,
        discharge_capacity, emission_standard, emission_standard_code, manufacture_date,
        check_person, seating, road_transport_code,
        first_allotment_date, issuing_company,
        rodetransport_start, rodetransport_end,source,vehicle_type)
        values
        <foreach collection="vehicles" item="item" separator=",">
            (#{item.uuid,jdbcType=BIGINT}, #{item.corpId,jdbcType=BIGINT},
            #{item.creator,jdbcType=BIGINT},
            #{item.timeCreated,jdbcType=TIMESTAMP},#{item.timeModified,jdbcType=TIMESTAMP},
            #{item.vin,jdbcType=VARCHAR}, #{item.ein,jdbcType=VARCHAR},
            #{item.carNum,jdbcType=VARCHAR}, #{item.carBrand,jdbcType=VARCHAR},
            #{item.carModel,jdbcType=VARCHAR}, #{item.carColor,jdbcType=VARCHAR},
            #{item.plateNumberColour,jdbcType=VARCHAR}, #{item.fuelType,jdbcType=VARCHAR},
            #{item.deviceId,jdbcType=VARCHAR}, #{item.dischargeCapacity,jdbcType=VARCHAR},
            #{item.emissionStandard,jdbcType=VARCHAR}, #{item.emissionStandardCode,jdbcType=VARCHAR},
            #{item.manufactureDate,jdbcType=VARCHAR}, #{item.checkPerson,jdbcType=VARCHAR},
            #{item.seating,jdbcType=VARCHAR}, #{item.roadTransportCode,jdbcType=VARCHAR},
            #{item.firstAllotmentDate,jdbcType=VARCHAR}, #{item.issuingCompany,jdbcType=VARCHAR},
            #{item.rodetransportStart,jdbcType=VARCHAR}, #{item.rodetransportEnd,jdbcType=VARCHAR},
            #{item.source,jdbcType=SMALLINT},#{item.vehicleType,jdbcType=INTEGER})
        </foreach>
    </insert>

    <update id="updateBatchBaseVehicle">
        <foreach collection="baseVehicelList" item="item" index="index" separator=" ;">
            update t_base_info_vehiclelicence
            <set>
                <if test="item.corpId != null">
                    corp_id = #{item.corpId,jdbcType=BIGINT},
                </if>
                <if test="item.timeCreated != null">
                    time_created = #{item.timeCreated,jdbcType=TIMESTAMP},
                </if>
                <if test="item.timeModified != null">
                    time_modified = #{item.timeModified,jdbcType=TIMESTAMP},
                </if>
                <if test="item.carId != null">
                    car_id = #{item.carId,jdbcType=BIGINT},
                </if>
                <if test="item.docCode != null">
                    doc_code = #{item.docCode,jdbcType=VARCHAR},
                </if>
                <if test="item.vin != null">
                    vin = #{item.vin,jdbcType=VARCHAR},
                </if>
                <if test="item.ein != null">
                    ein = #{item.ein,jdbcType=VARCHAR},
                </if>
                <if test="item.carNum != null">
                    car_num = #{item.carNum,jdbcType=VARCHAR},
                </if>
                <if test="item.carBrand != null">
                    car_brand = #{item.carBrand,jdbcType=VARCHAR},
                </if>
                <if test="item.carModel != null">
                    car_model = #{item.carModel,jdbcType=VARCHAR},
                </if>
                <if test="item.manufacturer != null">
                    manufacturer = #{item.manufacturer,jdbcType=VARCHAR},
                </if>
                <if test="item.cartypeId != null">
                    cartype_id = #{item.cartypeId,jdbcType=BIGINT},
                </if>
                <if test="item.engineType != null">
                    engine_type = #{item.engineType,jdbcType=VARCHAR},
                </if>
                <if test="item.carSizeLong != null">
                    car_size_long = #{item.carSizeLong,jdbcType=VARCHAR},
                </if>
                <if test="item.carSizeWide != null">
                    car_size_wide = #{item.carSizeWide,jdbcType=VARCHAR},
                </if>
                <if test="item.carSizeHigh != null">
                    car_size_high = #{item.carSizeHigh,jdbcType=VARCHAR},
                </if>
                <if test="item.carColor != null">
                    car_color = #{item.carColor,jdbcType=VARCHAR},
                </if>
                <if test="item.carImg != null">
                    car_img = #{item.carImg,jdbcType=VARCHAR},
                </if>
                <if test="item.plateNumberColour != null">
                    plate_number_colour = #{item.plateNumberColour,jdbcType=VARCHAR},
                </if>
                <if test="item.fuelType != null">
                    fuel_type = #{item.fuelType,jdbcType=VARCHAR},
                </if>
                <if test="item.dischargeCapacity != null">
                    discharge_capacity = #{item.dischargeCapacity,jdbcType=VARCHAR},
                </if>
                <if test="item.powerQw != null">
                    power_qw = #{item.powerQw,jdbcType=VARCHAR},
                </if>
                <if test="item.emissionStandard != null">
                    emission_standard = #{item.emissionStandard,jdbcType=BIGINT},
                </if>
                <if test="item.emissionStandardCode != null">
                    emission_standard_code = #{item.emissionStandardCode,jdbcType=VARCHAR},
                </if>
                <if test="item.manufactureDate != null">
                    manufacture_date = #{item.manufactureDate,jdbcType=DATE},
                </if>
                <if test="item.whetherAirCar != null">
                    whether_air_car = #{item.whetherAirCar,jdbcType=INTEGER},
                </if>
                <if test="item.transmissionType != null">
                    transmission_type = #{item.transmissionType,jdbcType=BIGINT},
                </if>
                <if test="item.allWeight != null">
                    all_weight = #{item.allWeight,jdbcType=VARCHAR},
                </if>
                <if test="item.checkPerson != null">
                    check_person = #{item.checkPerson,jdbcType=VARCHAR},
                </if>
                <if test="item.seating != null">
                    seating = #{item.seating,jdbcType=VARCHAR},
                </if>
                <if test="item.roadTransportCode != null">
                    road_transport_code = #{item.roadTransportCode,jdbcType=VARCHAR},
                </if>
                <if test="item.roadTransportReference != null">
                    road_transport_reference = #{item.roadTransportReference,jdbcType=VARCHAR},
                </if>
                <if test="item.firstAllotmentDate != null">
                    first_allotment_date = #{item.firstAllotmentDate,jdbcType=DATE},
                </if>
                <if test="item.issuingCompany != null">
                    issuing_company = #{item.issuingCompany,jdbcType=VARCHAR},
                </if>
                <if test="item.firstAddDate != null">
                    first_add_date = #{item.firstAddDate,jdbcType=DATE},
                </if>
                <if test="item.possName != null">
                    poss_name = #{item.possName,jdbcType=VARCHAR},
                </if>
                <if test="item.ownerNumber != null">
                    owner_number = #{item.ownerNumber,jdbcType=VARCHAR},
                </if>
                <if test="item.doucumentType != null">
                    doucument_type = #{item.doucumentType,jdbcType=VARCHAR},
                </if>
                <if test="item.subordinateCompanies != null">
                    subordinate_companies = #{item.subordinateCompanies,jdbcType=VARCHAR},
                </if>
                <if test="item.registcertImg1 != null">
                    registcert_img1 = #{item.registcertImg1,jdbcType=VARCHAR},
                </if>
                <if test="item.registcertImg2 != null">
                    registcert_img2 = #{item.registcertImg2,jdbcType=VARCHAR},
                </if>
                <if test="item.roadtransportImg != null">
                    roadtransport_img = #{item.roadtransportImg,jdbcType=VARCHAR},
                </if>
                <if test="item.vehiclecertImg != null">
                    vehiclecert_img = #{item.vehiclecertImg,jdbcType=VARCHAR},
                </if>
                <if test="item.carEnterDate != null">
                    car_enter_date = #{item.carEnterDate,jdbcType=DATE},
                </if>
                <if test="item.newenergyType != null">
                    newenergy_type = #{item.newenergyType,jdbcType=BIGINT},
                </if>
                <if test="item.whetherGps != null">
                    whether_gps = #{item.whetherGps,jdbcType=INTEGER},
                </if>
                <if test="item.purchaseBill != null">
                    purchase_bill = #{item.purchaseBill,jdbcType=VARCHAR},
                </if>
                <if test="item.retirementDate != null">
                    retirement_date = #{item.retirementDate,jdbcType=DATE},
                </if>
                <if test="item.opertypeId != null">
                    opertype_id = #{item.opertypeId,jdbcType=BIGINT},
                </if>
                <if test="item.useproperty != null">
                    useproperty = #{item.useproperty,jdbcType=BIGINT},
                </if>
                <if test="item.carNativePlace != null">
                    car_native_place = #{item.carNativePlace,jdbcType=VARCHAR},
                </if>
                <if test="item.gradeId != null">
                    grade_id = #{item.gradeId,jdbcType=BIGINT},
                </if>
                <if test="item.rodetransportStart != null">
                    rodetransport_start = #{item.rodetransportStart,jdbcType=DATE},
                </if>
                <if test="item.rodetransportEnd != null">
                    rodetransport_end = #{item.rodetransportEnd,jdbcType=DATE},
                </if>
                <if test="item.registDate != null">
                    regist_date = #{item.registDate,jdbcType=VARCHAR},
                </if>
                <if test="item.remark != null">
                    remark = #{item.remark,jdbcType=VARCHAR},
                </if>
                <if test="item.status != null">
                    status = #{item.status,jdbcType=INTEGER},
                </if>
                <if test="item.source != null">
                    source = #{item.source,jdbcType=SMALLINT},
                </if>
                <if test="item.vehicleType != null">
                    vehicle_type = #{item.source,jdbcType=INTEGER},
                </if>
            </set>
            where uuid = #{item.uuid}
        </foreach>
    </update>
    <update id="updateBatchVehicleExtend">
        <foreach collection="vehicleExtendList" item="item" index="index" separator=" ;">
            update taxi_vehicle_extend
            <set>
                <if test="item.picture != null">
                    picture = #{item.picture,jdbcType=VARCHAR},
                </if>
                <if test="item.completeMaintenanceStatus != null">
                    complete_maintenance_status = #{item.completeMaintenanceStatus,jdbcType=VARCHAR},
                </if>
                <if test="item.statusCode != null">
                    status_code = #{item.statusCode,jdbcType=VARCHAR},
                </if>
                <if test="item.transportationCertificateProvince != null">
                    transportation_certificate_province = #{item.transportationCertificateProvince,jdbcType=VARCHAR},
                </if>
                <if test="item.rightTypeCode != null">
                    right_type_code = #{item.rightTypeCode,jdbcType=VARCHAR},
                </if>
                <if test="item.rightValidFrom != null">
                    right_valid_from = #{item.rightValidFrom,jdbcType=VARCHAR},
                </if>
                <if test="item.rightValidTo != null">
                    right_valid_to = #{item.rightValidTo,jdbcType=VARCHAR},
                </if>
                <if test="item.annualExaminationStatus != null">
                    annual_examination_status = #{item.annualExaminationStatus,jdbcType=VARCHAR},
                </if>
                <if test="item.serialNumber != null">
                    serial_number = #{item.serialNumber,jdbcType=VARCHAR},
                </if>
                <if test="item.nameOfOwner != null">
                    name_of_owner = #{item.nameOfOwner,jdbcType=VARCHAR},
                </if>
                <if test="item.ownerIdCard != null">
                    owner_id_card = #{item.ownerIdCard,jdbcType=VARCHAR},
                </if>
                <if test="item.phoneNumber != null">
                    phone_number = #{item.phoneNumber,jdbcType=VARCHAR},
                </if>
                <if test="item.terminalBind != null">
                    terminal_bind = #{item.terminalBind,jdbcType=VARCHAR},
                </if>
                <if test="item.driverBind != null">
                    driver_bind = #{item.driverBind,jdbcType=VARCHAR},
                </if>
            </set>
            where vehiclelicence_id = #{item.vehiclelicenceId}
        </foreach>

    </update>
</mapper>