<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.base.NetcarOperateLogoutMapper">
  <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.base.NetcarOperateLogout">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <id column="license_id" jdbcType="VARCHAR" property="licenseId" />
    <id column="vehicle_no" jdbcType="VARCHAR" property="vehicleNo" />
    <id column="logout_time" jdbcType="VARCHAR" property="logoutTime" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="encrypt" jdbcType="INTEGER" property="encrypt" />
    <result column="reserved" jdbcType="VARCHAR" property="reserved" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, license_id, vehicle_no, logout_time, longitude, latitude, encrypt, reserved
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netcar_operate_logout
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
      and logout_time = #{logoutTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from netcar_operate_logout
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
      and logout_time = #{logoutTime,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateLogout">
    insert into netcar_operate_logout (company_id, license_id, vehicle_no, 
      logout_time, longitude, latitude, 
      encrypt, reserved)
    values (#{companyId,jdbcType=VARCHAR}, #{licenseId,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, 
      #{logoutTime,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{encrypt,jdbcType=INTEGER}, #{reserved,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateLogout">
    insert into netcar_operate_logout
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="licenseId != null">
        license_id,
      </if>
      <if test="vehicleNo != null">
        vehicle_no,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null">
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null">
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateLogout">
    update netcar_operate_logout
    <set>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="reserved != null">
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
      and logout_time = #{logoutTime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.base.NetcarOperateLogout">
    update netcar_operate_logout
    set longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      reserved = #{reserved,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
      and license_id = #{licenseId,jdbcType=VARCHAR}
      and vehicle_no = #{vehicleNo,jdbcType=VARCHAR}
      and logout_time = #{logoutTime,jdbcType=VARCHAR}
  </update>


    <select id="queryOperateLogoutListByCondition" parameterType="com.zhcx.netcar.params.OperateParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from netcar_operate_logout
        <where>
<!--            and vehicle_no in (select branum from yunzheng_base_info_vehicle)-->
<!--            and company_id in (select company_id from netcar_base_info_company_service a,yunzheng_base_info_company b where a.service_no = b.busiRegNumber)-->
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="searchType == 'licenseId' and keyword != null">
                and license_id like concat('%',#{keyword},'%')
            </if>
            <if test="searchType == 'vehicleNo' and keyword != null">
                and vehicle_no like concat('%',#{keyword},'%')
            </if>
            <if test="startTime != null and endTime != null">
                and logout_time between date_format(#{startTime},'%Y%m%d%H%i%s')
                and date_format(#{endTime},'%Y%m%d%H%i%s')
            </if>
        </where>
    </select>

</mapper>