<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcx.netcar.netcarservice.mapper.yunzheng.YunZhengCompanyMapper">
    <resultMap id="BaseResultMap" type="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
        <id column="uuid" jdbcType="BIGINT" property="uuid"/>
        <result column="clitname" jdbcType="VARCHAR" property="clitname"/>
        <result column="bnscope" jdbcType="VARCHAR" property="bnscope"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="person_liable" jdbcType="VARCHAR" property="personLiable"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="business_license" jdbcType="VARCHAR" property="businessLicense"/>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
        <result column="busiRegNumber" jdbcType="VARCHAR" property="busiregnumber"/>
        <result column="registered_capital" jdbcType="VARCHAR" property="registeredCapital"/>
        <result column="establishment_time" jdbcType="VARCHAR" property="establishmentTime"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="flage" jdbcType="INTEGER" property="flage"/>
    </resultMap>
    <sql id="Base_Column_List">
    uuid, clitname, bnscope, address, person_liable, phone, business_license, start_date,
    end_date, busiRegNumber, registered_capital, establishment_time, time, flage
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yunzheng_base_info_company
        where uuid = #{uuid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yunzheng_base_info_company
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
    insert into yunzheng_base_info_company (uuid, clitname, bnscope,
      address, person_liable, phone,
      business_license, start_date, end_date,
      busiRegNumber, registered_capital, establishment_time,
      time, flage)
    values (#{uuid,jdbcType=BIGINT}, #{clitname,jdbcType=VARCHAR}, #{bnscope,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{personLiable,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{businessLicense,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR},
      #{busiregnumber,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR}, #{establishmentTime,jdbcType=VARCHAR},
      #{time,jdbcType=VARCHAR}, #{flage,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
        insert into yunzheng_base_info_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="clitname != null">
                clitname,
            </if>
            <if test="bnscope != null">
                bnscope,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="personLiable != null">
                person_liable,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="businessLicense != null">
                business_license,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="busiregnumber != null">
                busiRegNumber,
            </if>
            <if test="registeredCapital != null">
                registered_capital,
            </if>
            <if test="establishmentTime != null">
                establishment_time,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="flage != null">
                flage,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=BIGINT},
            </if>
            <if test="clitname != null">
                #{clitname,jdbcType=VARCHAR},
            </if>
            <if test="bnscope != null">
                #{bnscope,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="personLiable != null">
                #{personLiable,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="busiregnumber != null">
                #{busiregnumber,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                #{registeredCapital,jdbcType=VARCHAR},
            </if>
            <if test="establishmentTime != null">
                #{establishmentTime,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
            <if test="flage != null">
                #{flage,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
        update yunzheng_base_info_company
        <set>
            <if test="clitname != null">
                clitname = #{clitname,jdbcType=VARCHAR},
            </if>
            <if test="bnscope != null">
                bnscope = #{bnscope,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="personLiable != null">
                person_liable = #{personLiable,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="busiregnumber != null">
                busiRegNumber = #{busiregnumber,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                registered_capital = #{registeredCapital,jdbcType=VARCHAR},
            </if>
            <if test="establishmentTime != null">
                establishment_time = #{establishmentTime,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="flage != null">
                flage = #{flage,jdbcType=INTEGER},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
    update yunzheng_base_info_company
    set clitname = #{clitname,jdbcType=VARCHAR},
      bnscope = #{bnscope,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      person_liable = #{personLiable,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      busiRegNumber = #{busiregnumber,jdbcType=VARCHAR},
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      establishment_time = #{establishmentTime,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      flage = #{flage,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>

    <update id="updateByBusiregnumber" parameterType="com.zhcx.netcar.pojo.yuzheng.YunZhengCompany">
        update yunzheng_base_info_company
        <set>
            <if test="clitname != null">
                clitname = #{clitname,jdbcType=VARCHAR},
            </if>
            <if test="bnscope != null">
                bnscope = #{bnscope,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="personLiable != null">
                person_liable = #{personLiable,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=VARCHAR},
            </if>

            <if test="registeredCapital != null">
                registered_capital = #{registeredCapital,jdbcType=VARCHAR},
            </if>
            <if test="establishmentTime != null">
                establishment_time = #{establishmentTime,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="flage != null">
                flage = #{flage,jdbcType=INTEGER},
            </if>
        </set>
        where busiRegNumber = #{busiregnumber,jdbcType=VARCHAR}
    </update>

    <select id="selectByCompanyName" parameterType="map" resultMap="BaseResultMap">
        select
        corp_id as uuid,
        company_name as clitname,
        business_scope as bnscope,
        contact_address as address,
        egal_rep_name as person_liable,
        legal_phone as phone,
        operation_permit_number as business_license,
        operation_permit_from as start_date,
        operation_permit_to as end_date,
        identifier as busiRegNumber,
        regis_capital as registered_capital,
        establishment_date as establishment_time
        from t_base_info_company
        <where>
            corp_type = 4
            <if test="uuid != null">
                and uuid = #{uuid,jdbcType=BIGINT}
            </if>
            <if test="keyword != null">
                and company_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="selectCountByCompanyId" resultType="long" parameterType="map">
        select count(1)
        from t_base_info_company t1
        <where>
<!--            t1.source = 4-->
<!--            and-->
            t1.corp_type = 4
            <if test="companyId != null">
                and EXISTS (
                SELECT
                company_id
                FROM
                netcar_base_info_company_service t2
                WHERE
                t1.identifier = t2.service_no
                <if test="companyId != null">
                    and t2.company_id = #{companyId}
                </if>
                )
            </if>
            and t1.company_id != ''
        </where>
    </select>

</mapper>