<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.carservice.mapper.BaseDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.car.carservice.pojo.BaseDictionary">
    <id column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, category_code, category, item_code, item, create_by, create_time, update_by, 
    update_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_dictionary
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <select id="selectByAll" resultType="com.car.carservice.pojo.BaseDictionary">
    select
    <include refid="Base_Column_List" />
    from base_dictionary
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_dictionary
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.car.carservice.pojo.BaseDictionary">
    insert into base_dictionary (uuid, category_code, category, 
      item_code, item, create_by, 
      create_time, update_by, update_time, 
      status)
    values (#{uuid,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.car.carservice.pojo.BaseDictionary">
    insert into base_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.carservice.pojo.BaseDictionary">
    update base_dictionary
    <set>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.carservice.pojo.BaseDictionary">
    update base_dictionary
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>